{% extends "base_site.html" %}
{% block title %}Active Calls{% endblock %}
{% block content_title %}Active Calls{% endblock %}
{% block content %}
<h1>Current active calls for your account</h1>
<div id="active-calls">
</div>
{% endblock %}

{% block extra_js %}<script src="{{ STATIC_URL }}js/active_calls.js"></script>{% endblock %}
