{% extends "base_site.html" %}
{% load model_name %}
{% block extrastyle %}
<style>
#submit-buttons { margin-top: 50px; }
#submit-buttons li { float: left; }
#submit-buttons li input[type="submit"],
#submit-buttons li input[type="button"] {
  display: block;
}
</style>
{% endblock %}
{% block extrahead %}
<script type="text/javascript">
function goBack() {
  window.history.back()
}
</script>
{% endblock %}

{% block title %}Confirm Delete{% endblock %}

{% block content_title %}Delete {{ object|name }}{% endblock %}
{% block content %}
Are you sure you want to delete: {{ object }}
<form action="" method="post">{% csrf_token %}
<div id="submit-buttons">
    <ul>
        <li><input class="cancel" type="button" value="Cancel" onclick="goBack()" /></li>
        <li><input class="submit-grn" type="submit" value="Submit" /></li>
    </ul>
</div>
</form>

{% endblock %}

