{% extends "base_site.html" %}

{% block title %}Web Hosting Accounts{% endblock %}

{% block content_title %}Web Hosting Accounts{% endblock %}
{% block content %}
<a href="add/">Add New</a>
{% if cpanelacct_list %}
<table>
    <caption>Web Hosting Accounts</caption>
    <thead>
    <tr>
        <th>Primary Domain</th>
        <th>Dedicated IP Address</th>
        <th>Admin Username</th>
        <th>Admin Password</th>
        <th colspan="2">Admin URL</th>
    </tr>
    </thead>
    <tbody>
    {% for cpanelacct in cpanelacct_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td><a href="{{ cpanelacct.pk }}/edit/">{{ cpanelacct.domain }}</a></td>
        <td>{{ cpanelacct.ip_addr }}</td>
        <td>{{ cpanelacct.server_username }}</td>
        <td>{{ cpanelacct.server_password }}</td>
        <td><a href="{{ cpanelacct.get_admin_url }}" target="_blank">{{ cpanelacct.get_admin_url }}</a></td>
        <td><form action="https://{{ cpanelacct.domain }}:2083/login/" method="post" target="_top" >
          <input type="hidden" name="login_theme" value="cpanel" />
          <input type="hidden" name="user" id="user" value="{{ cpanelacct.server_username }}" />
          <input type="hidden" name="pass" id="pass" value="{{ cpanelacct.server_password }}" />
          <!-- <input type="hidden" name="goto_uri" value="/?" /> -->
          <input type="submit" value="Login" />
        </form></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>No Web Hosting Accounts have been created</p>
{% endif %}
{% endblock %}
