{% extends "base_site.html" %}
{% load currency_formatting %}
{% block title %}Account Profile for {{ user.get_full_name }}{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/portal.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/forms.css" />
<style type="text/css">
  .form-row label { display: none; }
  .form-row textarea,
  .form-row input[type=text],
  .form-row select { width: 250px; }
</style>
{% endblock %}

{% block content_title %}Account Dashboard{% endblock %}
{% block content %}
<div id="dashboard">
<div class="primary-left">
  <table class="width-100">
    <caption>Account Info</caption>
    <tr class="row1">
        <th class="width-40">Name</th>
        <td>{{ user.get_full_name }}</td>
    </tr>
    <tr class="row2">
        <th>Email</th>
        <td>{{ user.email }}</td>
    <tr class="row1">
        <th>Account Number</th>
        <td>{{ user.id }}</td>
    </tr>
    <tr class="row2">
        <th>Last Login</th>
        <td>{{ user.last_login }} [<a href="/accounts/login-history/">view history</a>]</td>
    {% if voip_stats %}
    <tr class="row1">
        <th>Endpoints</th>
        <td>{{ voip_stats.ep_count }} [<a href="/accounts/endpoint/">manage</a>]</td>
    </tr>
    <tr class="row2">
        <th>Active Registrations</th>
        <td>{{ voip_stats.reg_count }} [<a href="/accounts/interconnection/">details</a>]</td>
    </tr>
    {% endif %}
  </table>
  {% if voip_stats %}
  <table class="width-100">
    <caption>Voice Statistics</caption>
    <tbody>
    <tr class="row1">
        <th rowspan="2" class="width-40">Past 12 Hours:</th>
        <td><strong>{{ voip_stats.12h_calls }}</strong> calls</td>
    <tr class="row1">
        <td><strong>{{ voip_stats.12h_mins }}</strong> minutes</td>
    </tr>
    <tr class="row2">
        <th rowspan="2">Three Days:</th>
        <td><strong>{{ voip_stats.3d_calls }}</strong> calls</td>
    <tr class="row2">
        <td><strong>{{ voip_stats.3d_mins }}</strong> minutes</td>
    </tr>
    <tr class="row1">
        <th rowspan="2">Week:</th>
        <td><strong>{{ voip_stats.week_calls }}</strong> calls</td>
    <tr class="row1">
        <td><strong>{{ voip_stats.week_mins }}</strong> minutes</td>
    </tr>
    <tr class="row2">
        <th>Month:</th>
        <td><strong>{{ voip_stats.month_calls }}</strong> calls</td>
    <tr class="row2">
        <th></th>
        <td><strong>{{ voip_stats.month_mins }}</strong> minutes</td>
    </tr>
    </tbody>
    </tr>
  </table>
  {% endif %}
</div>
<div class="secondary-right">
  <div id="balance-cta" class="round right width-100">
    <div id="balance-top" class="round-top">
      <h2>Account Balance</h2>
      <h1>{{ user.get_profile.acct_balance|as_currency }}</h1>
    </div>
    <div id="balance-bottom" class="round-bot">
      <a href="/accounts/billing/payment/">Make a Payment</a>
    </div>
  </div>
  <div id="contact-cta" class="round right width-100">
    <form action="/support/" method="post">{% csrf_token %}
    <input type="hidden" name="name" value="{{ user.get_full_name }}" />
    <input type="hidden" name="username" value="{{ user.username }}" />
    <input type="hidden" name="email" value="{{ user.email }}" />
    <div id="contact-top" class="round-top">
      <h2>Contact Us</h2>
      <div class="form-row">
        <label for="id_subject">Subject</label><span class="form-field"><input name="subject" maxlength="100" placeholder="Brief description of your request" type="text" class="add-ph" id="id_subject" /></span>
      </div>

      <div class="form-row">
        <label for="id_message">Message</label><span class="form-field"><textarea rows="10" name="message" id="id_message" placeholder="Comments" cols="40" class="add-ph"></textarea></span>
      </div>
    </div>
    <div id="contact-bottom" class="round-bot">
      <input type="submit" value="Submit" class="submit-grn" />
    </div>
    </form>
  </div>
</div>
</div>
{% endblock %}
{% block extra_js %}
<script src="{{ STATIC_URL }}js/jquery.addplaceholder.min.js"></script>
<script>
    $('.add-ph').addPlaceholder();
</script>
{% endblock %}
