<table id=did-numbers">
  <caption>Available Numbers</caption>
  <tr>
    <th>DID</th>
    <th>Rate Center</th>
    <th>Cost</th>
    <th>Setup</th>
    <th>Purchase</th>
  </tr>
  {% for did in did_list %}
  <tr>
    <td>{{ did }}</td>
    <td>{{ did.rate_center }}</td>
    <td>${{ did.billing_plan.monthly_price }}/mo</td>
    <td>${{ did.billing_plan.setup_fee }}</td>
    <td><a href="{{ did.get_absolute_url }}purchase/">Purchase</a></td>
  </tr>
  {% endfor %}
</table>
