{% extends "base_site.html" %}
{% block title %}Purchase DIDs{% endblock %}

{% block content_title %}Purchase DIDs{% endblock %}
{% block content %}
<h1>Purchase Single Telephone Numbers</h1>

<div id="area-list">
    <span>1 - </span>
    <select id="area-code" name="area-code">

    </select>
    <span> - </span>
</div>

<div id="prefix-list">
<form action="" method="post" accept-charset="utf-8">{% csrf_token %}
    <select id="prefix" name="prefix">

    </select>
</form>
<span>- XXXX</span>
</div>
<div id="did-list" class="primary-left">
</div>

{% endblock %}
{% block extra_js %}<script type="text/javascript" src="{{ STATIC_URL }}js/didpurchase.js"></script>{% endblock %}
