{% extends "base_site.html" %}
{% load cdr_formatting %}
{% block title %}Manage DID{% endblock %}
{% block extrastyle %}
<style type="text/css">
div.form-row { margin-bottom: 12px; }
.form-row textarea,
.form-row input[type="text"],
.form-row input[type="password"],
.form-row select {
    width: 400px;
    padding: 2px 4px;
    border: 1px solid #4f4e4e;
}

#content .container form p { margin: 0 0 16px; }
p.number-info { font-size:16px; }
</style>
{% endblock %}

{% block content_title %}Manage DID{% endblock %}
{% block content %}
<div class="form-row">
  <p class="number-info">Number<br />{{ object.number|num2tel }}</p>
  <p class="number-info">Rate Center<br />{{ object.rate_center }}</p>
</div>
<form action="" method="post">{% csrf_token %}
{% include "form_snippet.html" %}
<input type="submit" value="Submit" />
</form>

{% endblock %}
{% block extra_js %}
<script type="text/javascript">
$(document).ready(function(){
  if ($("input#id_enable_vm").is(':checked')) {
    $('.form-row:has(input#id_vm_to_email)').show();
    $('.form-row:has(input#id_vm_keep_after_email)').show();
    $('.form-row:has(input#id_vm_email)').show();
    $('.form-row:has(select#id_vm_ring_msec)').show();
  } else {
    $('.form-row:has(input#id_vm_to_email)').hide();
    $('.form-row:has(input#id_vm_keep_after_email)').hide();
    $('.form-row:has(input#id_vm_email)').hide();
    $('.form-row:has(select#id_vm_ring_msec)').hide();
  }

  if ($("input#id_enable_fax_srv").is(':checked')) {
    $('.form-row:has(input#id_fax_email)').show();
  } else {
    $('.form-row:has(input#id_fax_email)').hide();
  }

  $("input#id_enable_vm").change(function() {
    if ($("input#id_enable_vm").is(':checked')) {
      $('.form-row:has(input#id_vm_to_email)').show();
      $('.form-row:has(input#id_vm_keep_after_email)').show();
      $('.form-row:has(input#id_vm_email)').show();
      $('.form-row:has(select#id_vm_ring_msec)').show();
    } else {
      $('.form-row:has(input#id_vm_to_email)').hide();
      $('.form-row:has(input#id_vm_keep_after_email)').hide();
      $('.form-row:has(input#id_vm_email)').hide();
      $('.form-row:has(select#id_vm_ring_msec)').hide();
    }
  });

  $("input#id_enable_fax_srv").change(function() {
    if ($("input#id_enable_fax_srv").is(':checked')) {
      $('.form-row:has(input#id_fax_email)').show();
    } else {
      $('.form-row:has(input#id_fax_email)').hide();
    }
  });
});
</script>
{% endblock %}
