{% extends "base_site.html" %}
{% load icons %}
{% load cdr_formatting %}

{% block title %}DIDs{% endblock %}
{% block content_title %}DIDs{% endblock %}
{% block content %}
<form method="get" action="/accounts/dids/search/">
  <div id="did-search" class="round">
    <ul>
        <li>
            <input type="text" name="q" placeholder="Search" />
        </li>
        <li>
            <input class="search" type="submit" value="Search" />
        </li>
    </ul>
  </div>
</form>
<a href="purchase/">Purchase</a> | <a href="export/">Export</a>
{% if did_list %}
<table class="width-100">
    <caption>Numbers</caption>
    <thead>
    <tr>
        <th>Number<a href="?order_by=-number" class="sort-icon"><img src="{{ STATIC_URL }}/img/icon_sort.png" /></a></th>
        <th>Endpoint<a href="?order_by=-endpoint" class="sort-icon"><img src="{{ STATIC_URL }}/img/icon_sort.png" /></a></th>
        <th>CNAM<a href="?order_by=-enable_cnam" class="sort-icon"><img src="{{ STATIC_URL }}/img/icon_sort.png" /></a></th>
        <th>Fax Server<a href="?order_by=-enable_fax_srv" class="sort-icon"><img src="{{ STATIC_URL }}/img/icon_sort.png" /></a></th>
        <th>Routing</th>
        <th>Description<a href="?order_by=-description" class="sort-icon"><img src="{{ STATIC_URL }}/img/icon_sort.png" /></a></th>
    </tr>
    </thead>
    <tbody>
    {% for did in did_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td><a href="{{ did.get_absolute_url }}">{{ did.number|num2tel }}</a></td>
        <td>{{ did.endpoint|truncatewords:4 }}</td>
        <td>{{ did.enable_cnam|boolean_icon }}</td>
        <td>{{ did.enable_fax_srv|boolean_icon }}</td>
        <td>{{ did.route }}</td>
        <td>{{ did.description|truncatechars:35 }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>No DIDs have been added</p>
{% endif %}
{% endblock %}
