{% extends "base_site.html" %}

{% block title %}Endpoints{% endblock %}

{% block content_title %}Endpoints{% endblock %}
{% block content %}
<a href="add/">Add New</a>
{% if endpoint_list %}
<table>
    <caption>Endpoints</caption>
    <thead>
    <tr>
        <th>Username<a href="?order_by=-ep_id" class="sort-icon"><img src="{{ STATIC_URL }}/img/icon_sort.png" /></a></th>
        <th>Password</th>
        <th>Default Caller ID</th>
        <th>Label<a href="?order_by=-label" class="sort-icon"><img src="{{ STATIC_URL }}/img/icon_sort.png" /></a></th>
    </tr>
    </thead>
    <tbody>
    {% for endpoint in endpoint_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td><a href="{{ endpoint.ep_id }}/edit/">{{ endpoint.ep_id }}</a></td>
        <td>{{ endpoint.password }}</td>
        <td>{{ endpoint.default_clid }}</td>
        <td>{{ endpoint.label }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>No Endpoints have been created</p>
{% endif %}
{% endblock %}
