{% extends "base_site.html" %}
{% block extrastyle %}
<style type="text/css">
div.form-row { margin-bottom: 12px; }
.form-row textarea,
.form-row input[type="text"],
.form-row input[type="password"],
.form-row select {
    width: 400px;
    padding: 2px 4px;
    border: 1px solid #4f4e4e;
}

#content .container form p { margin: 0 0 16px; }
</style>
{% endblock %}
{% block title %}{% if object %}Manage{% else %}Add{% endif %} Endpoint{% endblock %}

{% block content_title %}{% if object %}Manage{% else %}Add{% endif %} endpoint {{ object.label }}{% endblock %}
{% block content %}
<form action="" method="post">{% csrf_token %}
{% include "form_snippet.html" %}
<input type="submit" value="Submit" />
</form>
{% if object.get_registrations %}
<br />
<table>
    <caption>Registrations</caption>
    <thead>
    <tr>
        <th>Contact</th>
        <th>Expires</th>
        <th>User-Agent</th>
    </tr>
    </thead>
    <tbody>
        {% for reg in object.get_registrations %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td>{{ reg.uri }}</td>
        <td>{{ reg.expires_dt }}</td>
        <td>{{ reg.user_agent }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
$(document).ready(function(){
  $("input#id_reset_password").click(function(event){
  if ($("input#id_reset_password").is(':checked')) {
    if (confirm("Endpoint credentials will be modified.\nPlease update any devices using these credentials.")) {
      $("input#id_reset_password").attr('checked', true)
    } else {
      $("input#id_reset_password").attr('checked', false)
    }
  }
  });
});
</script>
{% endblock %}
