{% extends "base_site.html" %}

{% block title %}Interconnection{% endblock %}

{% block content_title %}Interconnection{% endblock %}
{% block content %}
<h1>Connecting to SIP Trunking<h1>
<h2>Questions?</h2>
<p>Please visit our <a href="/kb/">knowledge base</a> or <a href="/support/">contact</a> support.</p>
<h2>Numbering</h2>
<p>When calling out, the called phone number should be formatted as "1" followed by 10 digits, "011" plus digits for international calls, etc., as is standard US practice. Alternatively, full E.164 number formatting is also supported ("+1" and 10 digits US number, "+44" and UK number, etc.).</p>
<p>Inbound numbers will be presented to your system as "1" plus 10 digits in the Request-URI.</p>
<p>Your originating number (Caller-ID) must be formatted as "1" followed by 10 digits and must be present at least in the username field of the SIP From header. Calls without a valid From calling number will be rejected.<p>
<p>Calls from a toll-free number to a toll-free number (i.e. calls where the called and calling numbers are both toll-free numbers) will be rejected (because they cannot be billed).</p>
<h2>Addresses</h2>
<p>IP-based authentication is recommended for users with static IP addresses. However, if you are behind firewall or NAT router, you must use SIP Registration.</p>
<p><strong>SIP Registrar:</strong><br/>
registrar.5ninesolutions.com</p>
<p><strong>SIP Proxy:</strong><br />
sip.5ninesolutions.com</p>
<p>These DNS names provide both IPv4 A records and SIP SRV. If your equipment supports it, using SRV is preferred.</p>
<h2>Codecs</h2>
<p>Codecs available are G.711 and G.729a, RFC2833 DTMF, and T.38 fax</p>
<br />
<table>
  <caption>Active Registrations</caption>
  <thead>
  <tr>
    <th>Endpoint</th>
    <th>Contact</th>
    <th>Expires</th>
    <th>User-Agent</th>
  </tr>
  </thead>
  <tbody>
  {% for reg in reg_list %}
  <tr class="{% cycle 'row1' 'row2' %}">
    <td><a href="{{ reg.endpoint.get_absolute_url }}">{{ reg.endpoint.ep_id }}</a></td>
    <td>{{ reg.uri }}</td>
    <td>{{ reg.expires_dt }}</td>
    <td>{{ reg.user_agent }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
<br />
<br />
<table>
  <caption>IP Based Auth</caption>
  <thead>
  <tr>
    <th>IP Address</th>
    <th>Endpoint</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {% for auth_ip in auth_ip_list %}
  <tr class="{% cycle 'row1' 'row2' %}">
    <td><a href="{{ auth_ip.get_absolute_url }}">{{ auth_ip.src_ip }}</a></td>
    <td>{{ auth_ip.endpoint }}</td>
    <td><a href="{{ auth_ip.get_absolute_url }}delete/">Delete</a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>
<a href="/accounts/authorized-ips/add">Add IP Address</a>
{% endblock %}
