{% extends "base_site.html" %}

{% block title %}Login History{% endblock %}
{% block content_title %}Login history for user {{ user.username }}{% endblock %}
{% block content %}
<table>
<caption>Login History</caption>
<thead>
  <tr>
    <th>Date</th>
    <th>IP Address</th>
    <th>Country</th>
  </tr>
</thead>
<tbody>
{% for login in loginhistory_list %}
  <tr class="{% cycle 'row1' 'row2' %}">
    <td>{{ login.time_stamp }}</td>
    <td>{{ login.ip_addr }}</td>
    <td>{{ login.get_ip_country_display }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}

