{% extends "base_site.html" %}

{% block title %}VoIP PBX Accounts{% endblock %}

{% block content_title %}VoIP PBX Accounts{% endblock %}
{% block content %}
<a href="add/">Add New</a>
{% if pbxacct_list %}
<table>
    <caption>PBX Accounts</caption>
    <thead>
    <tr>
        <th>Domain</th>
        <th>Admin Username</th>
        <th>Admin Password</th>
        <th>Plan</th>
    </tr>
    </thead>
    <tbody>
    {% for pbxacct in pbxacct_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td><a href="{{ pbxacct.pk }}/edit/">{{ pbxacct.domain }}</a></td>
        <td>{{ pbxacct.server_username }}</td>
        <td>{{ pbxacct.server_password }}</td>
        <td>{{ pbxacct.billing_plan }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>No Hosted PBX accounts have been created</p>
{% endif %}
{% endblock %}
