{% extends "base_site.html" %}

{% block title %}{% if object %}Manage{% else %}Add{% endif %} PBX Account{% endblock %}

{% block content_title %}{% if object %}Manage{% else %}Add{% endif %} PBX Account{% endblock %}
{% block content %}

<form action="" method="post">{% csrf_token %}
<table>
{{ form.as_table }}
</table>
<input type="submit" value="Submit" />
</form>

{% endblock %}

