{% extends "base_site.html" %}
{% block extrastyle %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/marketing.css" />
<style type="text/css">
div.form-row { margin-bottom: 12px; }
.form-row textarea,
.form-row input[type="text"],
.form-row input[type="password"],
.form-row select {
    width: 400px;
    padding: 2px 4px;
    border: 1px solid #4f4e4e;
}

#content .container form p { margin: 0 0 16px; }
</style>
{% endblock %}
{% block title %}Account Preferences{% endblock %}

{% block content_title %}Account Preferences{% endblock %}
{% block content %}
<h1>Contact Information</h1>
<form action="" method="post">{% csrf_token %}
{{ pref_form.non_field_errors }}
{% for field in pref_form %}
    <div class="form-row">
        {{ field.errors }}
        {{ field.label_tag }}<span class="form-field">{{ field }}</span>
        {% if field.help_text %}<br />{{ field.help_text }}{% endif %}
    </div>
{% endfor %}
<input type="submit" value="Save" name="contactinfo-submit"/>
</form>
<br />
<br />
<h2>Primary E-mail Address</h2>
<form action="" method="post">{% csrf_token %}
{{ email_form.non_field_errors }}
{% for field in email_form %}
    <div class="form-row">
        {{ field.errors }}
        {{ field.label_tag }}<span class="form-field">{{ field }}</span>
        {% if field.help_text %}<br />{{ field.help_text }}{% endif %}
    </div>
{% endfor %}
<input type="submit" value="Save" name="changeemail-submit"/>
</form>
<br />
<br />
<h2>Change Password</h2>
<form action="" method="post">{% csrf_token %}
{{ pass_form.non_field_errors }}
{% for field in pass_form %}
    <div class="form-row">
        {{ field.errors }}
        {{ field.label_tag }}<span class="form-field">{{ field }}</span>
        {% if field.help_text %}<br />{{ field.help_text }}{% endif %}
    </div>
{% endfor %}
<input type="submit" value="Save" name="changepassword-submit"/>
</form>
<br />
<br />
<h2>Timezone</h2>
<form action="" method="post">{% csrf_token %}
{{ timezone_form.non_field_errors }}
{% for field in timezone_form %}
    <div class="form-row">
        {{ field.errors }}
        {{ field.label_tag }}<span class="form-field">{{ field }}</span>
        {% if field.help_text %}<br />{{ field.help_text }}{% endif %}
    </div>
{% endfor %}
<input type="submit" value="Save" name="timezone-submit"/>
</form>
{% endblock %}

