{% extends "base_site.html" %}
{% block title %}{% if object %}Edit{% else %}Add{% endif %} Service Location{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/marketing.css" />
<style type="text/css">
div.form-row { margin-bottom: 12px; }
.form-row textarea,
.form-row input[type="text"],
.form-row input[type="password"],
.form-row select {
    width: 400px;
    padding: 2px 4px;
    border: 1px solid #4f4e4e;
}

#content .container form p { margin: 0 0 16px; }
</style>
{% endblock %}
{% block extrahead %}
<script type="text/javascript">
$(document).ready(function(){
  if ($("select#id_addr_type").val() == "") {
    $('label[for="id_addr_type_num"]').hide();
    $('input#id_addr_type_num').hide();
  } else {
    $('label[for="id_addr_type_num"]').show();
    $('input#id_addr_type_num').show();
  }

  $("select#id_addr_type").change(function(){
    if ($("select#id_addr_type").val() == "") {
      $('label[for="id_addr_type_num"]').hide();
      $('input#id_addr_type_num').hide();
      $('input#id_addr_type_num').val("");
    } else {
      $('label[for="id_addr_type_num"]').show();
      $('input#id_addr_type_num').show();
    }
  });
});
</script>
{% endblock %}

{% block content_title %}{% if object %}Edit{% else %}Add{% endif %} Service Location{% endblock %}
{% block content %}

<form action="" method="post">{% csrf_token %}
<table>
{% include "form_snippet.html" %}
</table>
<input type="submit" value="Submit" />
</form>

{% endblock %}

