{% extends "base_site.html" %}

{% block title %}Service Locations{% endblock %}

{% block content_title %}Service Locations{% endblock %}
{% block content %}
<p>Each DID in your account must have a associated physical service address. You can manage the available addresses here.  After creating an address, you must <a href="/accounts/dids/">update</a> the DIDs with that address for E911 to work correctly.</p>
<a href="add/">Add New</a>
{% if serviceaddress_list %}
<table>
    <caption>Locations</caption>
    <thead>
    <tr>
        <th>Label<a href="?order_by=-description" class="sort-icon"><img src="{{ STATIC_URL }}/img/icon_sort.png" /></a></th>
        <th>Name<a href="?order_by=last_name" class="sort-icon"><img src="{{ STATIC_URL }}/img/icon_sort.png" /></a></th>
        <th>Street Address</th>
        <th>City<a href="?order_by=-city" class="sort-icon"><img src="{{ STATIC_URL }}/img/icon_sort.png" /></a></th>
        <th>State<a href="?order_by=-state" class="sort-icon"><img src="{{ STATIC_URL }}/img/icon_sort.png" /></a></th>
        <th>Zip<a href="?order_by=-zip" class="sort-icon"><img src="{{ STATIC_URL }}/img/icon_sort.png" /></a></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for addr in serviceaddress_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td><a href="{{ addr.id }}/edit/">{{ addr.description }}</a></td>
        <td>{{ addr.first_name }} {{ addr.last_name }}</td>
        <td>{{ addr.street_num }} {{ addr.street_name }} {{ addr.get_addr_type_display|default:"" }} {{ addr.addr_type_num }}</td>
        <td>{{ addr.city }}</td>
        <td>{{ addr.state}}</td>
        <td>{{ addr.zip }}</td>
        <td><a href="{{ addr.id }}/delete/">Delete</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>No addresses have been created</p>
{% endif %}
{% endblock %}
