{% extends "base_site.html" %}
{% block title %}Email Address Change{% endblock %}
{% block content_title %}Email Address Change{% endblock %}

{% block content %}

{% if validlink %}
<h1>Email Changed Successfully</h1>
<p>Your new email address has been confirmed.</p>

{% else %}
<h1>Invalid link</h1>
<p>The email confirmation link was invalid, possibly because it has already been used. Please <a href="/support/">contact</a> us if you believe this is an error.</p>

{% endif %}
{% endblock %}
