{% extends "base_site.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="primary-left">
{% include "login_snippet.html" %}
</div>
<div class="secondary-right">
  <div class="sidebar round">
    <h3>Need an Account?</h3>
    <p>Its fast and easy to get started</p>
    <a href="/signup/" class="sign-up">Sign Up</a>
  </div>
</div>
{% endblock %}
