{% extends "base_site.html" %}
{% block title %}Password Reset{% endblock %}
{% block content %}
<h1>Reset your password</h1>
<form action="" method="post">{% csrf_token %}
    {% include "form_snippet.html" %}
    <br />
    <input type="submit" class="continue" value="Continue" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>
<form method="post" action="">
{% endblock %}
