{% extends "base_site.html" %}
{% block title %}Password reset successful{% endblock %}

{% block content %}
<h1>Password reset successful</h1>
<p>We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly.</p>
{% endblock %}
