{% extends "base_site.html" %}
{% block title %}Password Change{% endblock %}

{% block content_title %}<h3>Password Change</h3>{% endblock %}
{% block content %}
<form action="" method="post">{% csrf_token %}
<div>
{% if form.errors %}
    <p class="errornote">Please correct the error{{ form.errors|pluralize:"s" }}
    </p>
{% endif %}

<p>Please enter your old password, for security's sake, and then enter
    your new password twice so we can verify you typed it in correctly.</p>

<fieldset class="module aligned wide">

<div class="form-row">
    {{ form.old_password.errors }}
    <label for="id_old_password" class="required">Old password</label>{{ form.old_password }}
</div>

<div class="form-row">
    {{ form.new_password1.errors }}
    <label for="id_new_password1" class="required">New password</label>{{ form.new_password1 }}
</div>

<div class="form-row">
{{ form.new_password2.errors }}
    <label for="id_new_password2" class="required">Password (again)</label>{{ form.new_password2 }}
</div>

</fieldset>

<div class="submit-row">
    <input type="submit" value="Submit"/>
</div>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</div>
</form>

{% endblock %}
