{% extends "base_site.html" %}
{% block title %}Password Reset Complete{% endblock %}
{% block content_title %}Password Reset Complete{% endblock %}

{% block content %}
<h1>Your password has been successfully reset</h1>
<p>You may <a href="/accounts/login/popup/" data-facebox="true">login</a> again.</p>
{% endblock %}
