{% extends "base_site.html" %}
{% block title %}Password Reset{% endblock %}
{% block content_title %}Password Reset{% endblock %}

{% block content %}

{% if validlink %}
<h1>Enter new password</h1>
<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
<form action="" method="post">{% csrf_token %}
{{ form.new_password1.errors }}
<p><label for="id_new_password1">New Password</label>{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p><label for="id_new_password1">Confirm Password</label>{{ form.new_password2 }}</p>
<p><input type="submit" class="submit-grn" value="Submit" /></p>
</form>

{% else %}
<h1>Invalid reset link</h1>
<p>The password reset link was invalid, possibly because it has already been used.  Please <a href="/accounts/password-reset/">request</a> a new password reset.</p>

{% endif %}
{% endblock %}
