{% extends "base.html" %}

{% block content_title %}Signup Complete{% endblock %}
{% block content %}
<h1>Thank You!</h1>
<p>Thank you for creating an account.</p>
You should receive and activation email shortly.<br />
If not, please <a href="/contact/">contact</a> us.
{% endblock %}

