{% extends "base.html" %}

{% block content_title %}Account Activation{% endblock %}
{% block content %}
{% if new_user %}
<h1>Your account has been successfully activated</h1>
<p>{{ new_user.first_name }},<br />
Thanks for creating an account with 5Nine Solutions.  We appreciate the opportunity to serve your VoIP and Hosting needs.<br />
For any service related issues please visit our <a href="/support/">support</a> page or email <a href="mailto:support@5ninesolutions.com">support@5ninesolutions.com</a>.<br />
{% include "login_snippet.html" %}
{% else %}
<h1>Account Activation Failed!</h1>
{% endif %}
{% endblock %}

