{% extends "base_site.html" %}
{% block extrastyle %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/marketing.css" />
<style type="text/css">
div.form-row { margin-bottom: 12px; }
.form-row textarea,
.form-row input[type="text"],
.form-row input[type="password"],
.form-row select {
    width: 400px;
    padding: 2px 4px;
    border: 1px solid #4f4e4e;}

#content .container form p { margin: 0 0 16px; }
</style>
{% endblock %}
{% block title %}Submit Credit Card Payment{% endblock %}

{% block content_title %}Submit Credit Card Payment{% endblock %}
{% block content %}
<form action="" method="post">{% csrf_token %}
    <h1>Use a stored card from your account:</h1>
    <div class="form-row">
        {{ form.stored_card.errors }}
        <span class="form-field">{{ form.stored_card }}</span>
        {{ form.stored_card.help_text }}
    </div>
    <br />
    <h2>Or enter credit card info:</h2>
    <div class="form-row">
        {{ form.firstname.errors }}
        {{ form.firstname.label_tag }}<span class="form-field">{{ form.firstname }}</span>
        {{ form.firstname.help_text }}
    </div>
    <div class="form-row">
        {{ form.lastname.errors }}
        {{ form.lastname.label_tag }}<span class="form-field">{{ form.lastname }}</span>
        {{ form.lastname.help_text }}
    </div>
    <div class="form-row">
        {{ form.phone.errors }}
        {{ form.phone.label_tag }}<span class="form-field">{{ form.phone }}</span>
        {{ form.phone.help_text }}
    </div>
    <div class="form-row">
        {{ form.address.errors }}
        {{ form.address.label_tag }}<span class="form-field">{{ form.address }}</span>
        {{ form.address.help_text }}
    </div>
    <div class="form-row">
        {{ form.city.errors }}
        {{ form.city.label_tag }}<span class="form-field">{{ form.city }}</span>
        {{ form.city.help_text }}
    </div>
    <div class="form-row">
        {{ form.state.errors }}
        {{ form.state.label_tag }}<span class="form-field">{{ form.state }}</span>
        {{ form.state.help_text }}
    </div>
    <div class="form-row">
        {{ form.postal.errors }}
        {{ form.postal.label_tag }}<span class="form-field">{{ form.postal }}</span>
        {{ form.postal.help_text }}
    </div>
    <div class="form-row">
        {{ form.card_type.errors }}
        {{ form.card_type.label_tag }}<span class="form-field">{{ form.card_type }}</span>
        {{ form.card_type.help_text }}
    </div>
    <div class="form-row">
        {{ form.num.errors }}
        {{ form.num.label_tag }}<span class="form-field">{{ form.num }}</span>
        {{ form.num.help_text }}
    </div>
    <div class="form-row">
        {{ form.cvv2.errors }}
        {{ form.cvv2.label_tag }}<span class="form-field">{{ form.cvv2 }}</span><br />
        {{ form.cvv2.help_text }}
    </div>
    <div class="form-row">
        {{ form.exp_month.errors }}
        {{ form.exp_month.label_tag }}<span class="form-field">{{ form.exp_month }}</span>
        {{ form.exp_month.help_text }}
    </div>
    <div class="form-row">
        {{ form.exp_year.errors }}
        {{ form.exp_year.label_tag }}<span class="form-field">{{ form.exp_year }}</span>
        {{ form.exp_year.help_text }}
    </div>
    <div class="form-row">
        {{ form.save_card.errors }}
        {{ form.save_card.label_tag }}<span class="form-field">{{ form.save_card }}</span>
        {{ form.save_card.help_text }}
    </div>
    <br />
    <br />
    <div class="form-row">
        {{ form.payment_amount.errors }}
        {{ form.payment_amount.label_tag }}<span class="form-field">{{ form.payment_amount }}</span><br />
        {{ form.payment_amount.help_text }}
    </div>
    <input type="submit" value="Submit" />
</form>

{% endblock %}

