<html>
<head>
  <META http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <title>Credit Card Charge Failure</title>
  <meta content="text/html; charset=iso-8859-1" http-equiv="content-type"/>
</head>
  <body>
  <p><font face=arial><strong>Credit Card Charge Failure</strong><br />
  <hr noshade size=1>
  Date: {{ date }}<br />
  <br />
  Hello {{ user.first_name }},<br />
  We have attempted to charge your credit card that you have on file with us for your outstanding hosting/server charges due to us. Unfortunatly, the charges are being declined.<br />
  <br />
  {% if error_msg %}Error Message: {{ error_msg }}<br /><br />{% endif %}
  Please contact us as soon as possible to arrange payment.<br />
  <br />
  Thank You,<br />
  <br />
  Billing Dept.<br />
  5Nine Solutions<br />
  <br />
  <br />
  Thank you for choosing 5Nine Solutions!<br /><br />
  <a href="http://www.5ninesolutions.com/" target="_blank"><img src="http://email-docs.5ninesolutions.com/email_signature_logo.jpg"></a>
  </font></p>
  </body>
</html>
