<html>
<head>
  <META http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <title>Credit Card Expiration</title>
  <meta content="text/html; charset=iso-8859-1" http-equiv="content-type"/>
</head>
  <body>
  <p><font face=arial><strong>Credit Card Expiration</strong><br />
  <hr noshade size=1>
  Date: {{ date }}<br />
  <br />
  Hello {{ user.first_name }},<br />
  The credit card that you currently have on file is due to expire on {{ exp_date }}.<br />
  <br />
  To update your payment information:<br />
  <br />
  <ol>
    <li>Sign in to your account at <a href="https://www.5ninesolutions.com/" target="_blank">https://www.5ninesolutions.com</a>.</li>
    <li>Click the "Billing" tab.</li>
    <li>Click "Manage Stored Cards".</li>
    <li>Locate your credit card or debit card and make the necessary changes.</li>
  </ol>
  <br />
  Thank You,<br />
  <br />
  Billing Dept.<br />
  5Nine Solutions<br />
  <br />
  <br />
  Thank you for choosing 5Nine Solutions!<br /><br />
  <a href="https://www.5ninesolutions.com/" target="_blank"><img src="http://email-docs.5ninesolutions.com/email_signature_logo.jpg"></a>
  </font></p>
  </body>
</html>
