{% extends "base_site.html" %}
{% block extrastyle %}
<style>
#submit-buttons li { float: left; }
#submit-buttons li input[type="submit"],
#submit-buttons li input[type="button"] {
    display: block;
}
</style>
{% endblock %}
{% block extrahead %}
<script type="text/javascript">
function goBack() {
  window.history.back()
}
</script>
{% endblock %}
{% block title %}Remove Credit Card{% endblock %}
{% block content_title %}Remove Credit Card{% endblock %}
{% block content %}
<h1>Are you sure you want to remove {{ object }}</h1>
<form action="" method="post">{% csrf_token %}
<br />
<div id="submit-buttons">
    <ul>
        <li><input class="cancel" type="button" value="Cancel" onclick="goBack()" /></li>
        <li><input class="submit-grn" type="submit" value="Submit" /></li>
    </ul>
</div>
</form>

{% endblock %}
