{% extends "base_site.html" %}
{% load icons %}

{% block title %}Stored Credit Cards{% endblock %}

{% block content_title %}Stored Credit Cards{% endblock %}
{% block content %}
<h1>Manage your credit cards on file</h1>
<p>All credit card info is securely incrypted using PCI compliant methods.<br />
If auto pay is enabled, all open invoices will be paid automatically on
due date.</p>
{% if creditcard_list %}
<table>
    <caption>Credit Cards</caption>
    <thead>
    <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Expiration</th>
        <th>Auto Pay</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for creditcard in creditcard_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td><a href="{{ creditcard.pk }}/edit/">{{ creditcard }}</a></td>
        <td>{{ creditcard.firstname }} {{ creditcard.lastname }}</td>
        <td>{{ creditcard.exp_month }}/{{ creditcard.exp_year }}</td>
        <td>{{ creditcard.autopay|boolean_icon }}</td>
        <td><a href="{{ creditcard.pk }}/delete/">Remove</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>No credit cards have been added</p>
{% endif %}
    <div>
        <span>
            <a href="add/">Add</a>
        </span>
    </div>
{% endblock %}
