{% extends "base_site.html" %}
{% block extrastyle %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/marketing.css" />
<style type="text/css">
div.form-row { margin-bottom: 12px; }
.form-row textarea,
.form-row input[type="text"],
.form-row input[type="password"],
.form-row select {
    width: 400px;
    padding: 2px 4px;
    border: 1px solid #4f4e4e;}

#content .container form p { margin: 0 0 16px; }
</style>
{% endblock %}
{% block title %}{% if object %}Manage{% else %}Add{% endif %} Stored Credit Card{% endblock %}

{% block content_title %}{% if object %}Manage{% else %}Add{% endif %} Stored Credit Card{% endblock %}
{% block content %}

<form action="" method="post">{% csrf_token %}
{% include "form_snippet.html" %}
<input type="submit" value="Submit" />
</form>

{% endblock %}

