{% extends "base_site.html" %}
{% block title %}Invoices{% endblock %}

{% block content_title %}Invoices{% endblock %}
{% block content %}
{% if invoice_list %}
<table class="width-90">
    <caption>Invoices</caption>
    <thead>
    <tr>
        <th>Number</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Date Due</th>
    </thead>
    <tbody>
    {% for invoice in invoice_list %}
    <tr class="{% cycle 'row1' 'row2' %}{% if invoice.overdue %} bold{% endif %}">
        <td><a href="{{ invoice.get_absolute_url }}">{{ invoice.pk }}</a></td>
        <td>{{ invoice.time_stamp }}</td>
        <td>{{ invoice.amount }}</td>
        <td>{{ invoice.date_due }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>No Invoices exist</p>
{% endif %}
{% endblock %}
