{% extends "base_site.html" %}
{% load currency_formatting %}

{% block title %}Invoice {{ invoice.pk }}{% endblock %}

{% block content_title %}Invoice {{ invoice.pk }}{% endblock %}
{% block content %}
<div class="right">
  Number: {{ invoice.pk }}<br />
  Date Due: {{ invoice.date_due }}<br />
  <br />
  <a href="as-pdf/"><img src="{{ STATIC_URL }}img/icon_pdf.png" alt="View PDF"></a>
</div>
<div style="width:500px;padding-bottom:30px;">
  <strong>5Nine Solutions LLC</strong><br />
  7111 Garden Grove Blvd<br />
  Suite 201<br />
  Garden Grove, CA 92841<br />
  <br />
  <strong>Bill To:</strong><br />
  {{ user.get_full_name }}<br />
  {% if profile.company_name %}{{ profile.company_name }}<br />{% endif %}
  {{ profile.address_line1 }}<br />
  {% if profile.address_line2 %}{{ profile.address_line2 }}<br />{% endif %}
  {{ profile.address_city }}, {{ profile.address_state }} {{ profile.address_zip }}<br />
</div>
<table>
<caption>Charges</caption>
<tr>
    <th>Item</th>
    <th>Description</th>
    <th>Quantity</th>
    <th>Rate</th>
    <th>Amount</th>
</tr>
{% for item in invoice.items %}
<tr class="{% cycle 'row1' 'row2' %}">
    <td>{{ item.name }}</td>
    <td>{{ item.description }}</td>
    <td>{{ item.quantity }}</td>
    <td>{{ item.rate }}</td>
    <td>{{ item.amount }}</td>
</tr>
{% endfor %}
</table>

<strong>Total: {{ invoice.amount|as_currency }}</strong><br />
{% endblock %}

