<html>
<head>
  <META http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <title>Customer Invoice</title>
  <meta content="text/html; charset=iso-8859-1" http-equiv="content-type"/>
</head>
  <body>
  <p><font face=arial><strong>Customer Invoice</strong><br />
  <br />
  Hello {{ user.get_full_name }},<br />
  This email is being sent in order to inform you that a new invoice has been generated for your account.<br />
  <hr noshade size=1>
  Date: {{ invoice.time_stamp }}<br />
  ID: {{ invoice.pk }}<br />
  Total Due: ${{ invoice.amount }}<br />
  Date Due: {{ invoice.date_due }}<br />
  <br />
  Thank you for choosing 5Nine Solutions!<br /><br />
  <a href="http://www.5ninesolutions.com/" target="_blank"><img src="http://email-docs.5ninesolutions.com/email_signature_logo.jpg"></a>
  </font></p>
  </body>
</html>
