<html>
<head>
  <META http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <title>Overdue Invoice</title>
  <meta content="text/html; charset=iso-8859-1" http-equiv="content-type"/>
</head>
  <body>
  <p><font face=arial><strong>Overdue Invoice</strong><br />
  <br />
  Hello {{ user.get_full_name }},<br />
  This email is being sent to inform you that an invoice in your account is past due.  Please contact us as soon as possible to arrange payment.<br />
  <hr noshade size=1>
  Date: {{ invoice.time_stamp }}<br />
  Number: {{ invoice.pk }}<br />
  Total Due: ${{ invoice.amount }}<br />
  Date Due: {{ invoice.date_due }}<br />
  <br />
  Payment can be made at <a href="https://www.5ninesolutions.com/">www.5ninesolutions.com</a><br />
  <br />
  Thank you for choosing 5Nine Solutions!<br /><br />
  <a href="http://www.5ninesolutions.com/" target="_blank"><img src="http://email-docs.5ninesolutions.com/email_signature_logo.jpg"></a>
  </font></p>
  </body>
</html>
