<html>
<head>
  <META http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <title>Payment Receipt</title>
  <meta content="text/html; charset=iso-8859-1" http-equiv="content-type"/>
</head>
  <body>
  <p><font face=arial><strong>Payment Received</strong><br />
  <hr noshade size=1>
  Date: {{ payment.time_stamp }}<br />
  ID: {{ payment.pk }}<br />
  Method: {{ payment.get_method_display }}<br />
  Reference Number: {{ payment.ref_id }}<br />
  Amount: ${{ payment.amount }}<br />
  <br />
  Thank you for choosing 5Nine Solutions!<br /><br />
  <a href="http://www.5ninesolutions.com/" target="_blank"><img src="http://email-docs.5ninesolutions.com/email_signature_logo.jpg"></a>
  </font></p>
  </body>
</html>
