{% extends "base_site.html" %}
{% load currency_formatting %}
{% block title %}Account History{% endblock %}

{% block content_title %}Account History{% endblock %}
{% block content %}
{% if transaction_list %}
<h1>Account Balance: {{ user.get_profile.acct_balance|as_currency }}</h1>
<p>The following table lists the transactions that have been applied to your account.</p>
    <table class="width-100">
    <caption>Transactions</caption>
    <thead>
    <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Charges</th>
        <th>Payments</th>
        <th>Balance</th>
    </thead>
    <tbody>
    {% for transaction in transaction_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td>{{ transaction.time_stamp }}</td>
        <td>{{ transaction.description }} {% if transaction.invoice %}[<a href="{{ transaction.invoice.get_absolute_url }}">View</a>]{% endif %}</td>
        <td>{{ transaction.debit_amount|default:""|as_currency }}</td>
        <td>{{ transaction.credit_amount|default:""|as_currency }}</td>
        <td>{{ transaction.balance|as_currency }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% else %}
    <p>No Transactions exist</p>
{% endif %}
{% endblock %}
