{% extends "base_site.html" %}
{% block title %}{% if selected_article %}{{ selected_article.title }}{% else %}{{ selected_category }}{% endif %}{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/marketing.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/markdown.css" />
{% endblock %}

{% block content_title %}Knowledge Base{% endblock %}
{% block content %}
<div class="secondary-left">
  <form method="get" action="/kb/search/">
  <div id="kb-search" class="round">
    <ul>
      <li><input type="text" name="q" placeholder="Search" /></li>
      <li><input class="search" type="submit" value="Search" /></li>
    </ul>
  </div>
  </form>
  <h2>Categories</h2>
  <div id="sidenav" class="round">
    <ul>
      {% for category in category_list %}
      <li><a href="{{ category.get_absolute_url }}">{{ category }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
<div id="kb-spacer"></div>
<div class="primary-right">
{% if selected_category %}
<div id="kb-article">
<h1>{{ selected_category }}</h1>
{% if article_list and selected_category %}
<ul class="result">
  {% for article in article_list %}
  <li><a href="{{ article.get_absolute_url }}">{{ article }}</a></li>
  {% endfor %}
</ul>
{% endif %}
</div>
{% else %}{% if selected_article %}
<div id="kb-article">
<h1>{{ selected_article.title }}</h1>
<div class="markdown">
{{ selected_article.body|safe }}
</div>
</div>
<div id="kb-infobar" class="round-bot">
  <p>
  Posted in
  {% for category in selected_article.kbcategory.all %}{% if not forloop.first %}, {% endif %}<a href="{{ category.get_absolute_url }}">{{ category }}</a>{% endfor %}<span class="right">Last updated: {{ selected_article.lastchanged|timesince }} ago</span>
  </p>
</div>
{% endif %}
{% endif %}
</div>
{% endblock %}
