{% extends "base_site.html" %}
{% block title %}Knowledge Base{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/marketing.css" />
{% endblock %}

{% block content_title %}Knowledge Base{% endblock %}
{% block content %}
<div class="secondary-left">
  <form method="get" action="/kb/search/">
  <div id="kb-search" class="round">
    <ul>
      <li><input type="text" name="q" placeholder="Search" /></li>
      <li><input class="search" type="submit" value="Search" /></li>
    </ul>
  </div>
  </form>
  <h2>Categories</h2>
  <div id="sidenav" class="round">
    <ul>
      {% for category in category_list %}
      <li><a href="{{ category.get_absolute_url }}">{{ category }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
<div id="kb-spacer"></div>
<div class="primary-right">
  <div id="kb-article">
    <h1>Knowledge Base</h1>
    <div class="markdown">
      <p>The 5Nine Solutions Knowledge Base provides a searchable database of
      support documents and how-tos. If you have a question that you can't
      find an answer to, please <a href="/support/">contact</a> support
      and we'll be happy to assist you</p>
    </div>
  </div>
</div>
{% endblock %}
