{% extends "base_site.html" %}
{% block title %}Search Results{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/marketing.css" />
{% endblock %}

{% block content_title %}Knowledge Base{% endblock %}
{% block content %}
<div class="secondary-left">
<form method="get" action="/kb/search/">
    <div id="kb-search" class="round">
        <ul>
            <li>
                <input type="text" name="q" placeholder="Search" />
            </li>
            <li>
                <input class="search" type="submit" value="Search" />
            </li>
        </ul>
    </div>
</form>
    <h2>Categories</h2>
    <div id="sidenav" class="round">
    <ul>
        {% for category in category_list %}
        <li><a href="/kb/category/{{ category.slug }}/">{{ category }}</a></li>
        {% endfor %}
    </ul>
    </div>
</div>
<div id="kb-spacer"></div>
<div class="primary-right">
<div id="kb-article">
{% if query %}
<h1>Search results for '{{ query }}'</h1>
{% if article_list %}
<ul class="result">
    {% for article in article_list %}
    <li>
        <a href="/kb/article/{{ article.id }}/">{{ article }}</a>
        <span class="right">Found in
        {% for category in article.kbcategory.all %}{% if not forloop.first %}, {%endif %}<a href="/kb/category/{{ category.slug }}/">{{ category }}</a>{% endfor %}
        </span>
        <p>{{ article.body|striptags|truncatewords:15 }}</p>
    </li>
{% endfor %}
</ul>
{% else %}
<br />
{% endif %}
{% else %}
<h1>Error, no query was specified.</h1>
{% endif %}
</div>
</div>
{% endblock %}
