{% extends "admin_base.html" %}

{% block title %}SIP Gateways{% endblock %}
{% block content_title %}SIP Gateways{% endblock %}
{% block content %}
{% if gw_list %}
<table>
    <tr>
        <th>Gateway ID</th>
        <th>Gateway Type</th>
        <th>Address</th>
        <th>Strip</th>
        <th>Prefix</th>
        <th>Description</th>
    </tr>
    {% for gw in gw_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td><a href="{{ gw.get_absolute_url }}edit/">{{ gw.pk }}</a></td>
        <td>{{ gw.type }}</td>
        <td>{{ gw.address }}</td>
        <td>{{ gw.strip }}</td>
        <td>{{ gw.pri_prefix }}</td>
        <td>{{ gw.description }}</td>
    </tr>
    {% endfor %}
</table>

{% else %}
    <p>No gateways have been created</p>
{% endif %}
<br />
<form action="" method="post">{% csrf_token %}
<input type="submit" value="Reload" />
</form>
{% endblock %}
