{% extends "admin_base.html" %}

{% block title %}Edit Routing Rule{% endblock %}
{% block content_title %}Edit Routing Rule{% endblock %}
{% block content %}
<h3>Available Gateways</h3>
<ul>
  {% for gw in drgateway_list %}<li>{{ gw.pk }} - {{ gw }}</li>
  {% endfor %}
</ul>
<br />
<form action="" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>

{% endblock %}

