{% extends "admin_base.html" %}

{% block title %}Routing Rules{% endblock %}

{% block content %}
{% if rule_list %}
<table>
  <tr>
    <th>Rule ID</th>
    <th>Group</th>
    <th>Prefix</th>
    <th>Gateway List</th>
    <th>Description</th>
  </tr>
  {% for rule in rule_list %}
  <tr class="{% cycle 'row1' 'row2' %}">
    <td><a href="{{ rule.get_absolute_url }}edit/">{{ rule.pk }}</a></td>
    <td>{{ rule.get_groupid_display }}</td>
    <td>{{ rule.prefix }}</td>
    <td>{{ rule.gwlist }}</td>
    <td>{{ rule.description }}</td>
  </tr>
  {% endfor %}
</table>

{% else %}
    <p>No rules have been created</p>
{% endif %}
<br />
<form action="" method="post">{% csrf_token %}
<input type="submit" value="Reload" />
</form>
{% endblock %}
