{% extends "admin_base.html" %}

{% block title %}Inbound Authorized IP{% endblock %}

{% block content %}

<form action="" method="post">{% csrf_token %}
<table>
{{ form.as_table }}
</table>
<input type="submit" value="Submit" />
</form>

{% endblock %}

