{% extends "admin_base.html" %}

{% block title %}Inbound Gateway IPs{% endblock %}
{% block content_title %}Inbound Gateway IPs{% endblock %}
{% block content %}
{% if gw_ip_list %}
    <table>
    <tr>
        <th>IP Address</th>
        <th>Port</th>
        <th>Description</th>
    </tr>
    {% for gw_ip in gw_ip_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td><a href="{{ gw_ip.get_absolute_url }}edit/">{{ gw_ip }}</a></td>
        <td>{{ gw_ip.port }}</td>
        <td>{{ gw_ip.description }}</td>
    </tr>
    {% endfor %}
    </table>

{% else %}
    <p>No IPs have been created</p>
{% endif %}
<br />
<form action="" method="post">{% csrf_token %}
<input type="submit" value="Reload" />
</form>
{% endblock %}
