#local-nav p {
    position: absolute;
    top: 19px;
    right: 0;
    font-size: 22px;
    margin: 0;
}

ul#account-nav {
    height: 30px;
    width: 960px;
    margin: 0 auto;
}

#did-search {
    background: #f1f0f0;
    width: 295px;
    padding: 10px;
    overflow: hidden;
    margin-bottom: 40px;
}

#did-search li {
    float: left;
}

#did-search input[type="text"] {
    border: 1px solid #4f4e4e;
    padding: 2px 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: normal;
    vertical-align: middle;
    width: 210px;
    height: 34px;
}

#did-search input[type="submit"] {
    display: block;
    margin-left:5px;
}

