html {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    height: 100%;
    background: #f5f5f5;
}

a {
    text-decoration:none;
    color: #da2b15;
}

a:hover {
    color: #da2b15;
}

ol, ul {
    list-style: none;
}

input[type="text"], input[type="password"], textarea {
    padding: 6px;
    border: 1px solid #4f4e4e;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 16px;
}

.red, .errorlist { color: #da2b15; }
.clear { clear: both; }
.left { float: left; }
.right { float: right; }

.round {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

.round-top {
    border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
}

.round-bot {
    border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
}

/* --------------------------- Size Templates ----------------------- */

.width-100 { width:100%; }
.width-90 { width:90%; }
.width-80 { width:80%; }
.width-60 { width:60%; }
.width-50 { width:50%; }
.width-40 { width:40%; }
.width-30 { width:30%; }
.width-20 { width:20%; }

.height-50 { height: 50%; }
.height-45 { height: 45%; }
.height-40 { height:40%; }
.height-35 { height: 35%; }
.height-10 { height:10%; }

/* ------------------------------ Tables ---------------------------- */

table {
    border-collapse: separate;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    color: #333333;
}

caption {
    background: #ffffff url(../img/caption_bg.png) bottom repeat-x;
    padding: 15px 0 15px 10px;
    border: 1px solid #cccccc;
    border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    font-weight: bolder;
    font-size: 18px;
}

td, th {
    border-left:1px solid #cccccc;
    vertical-align: top;
    padding: 4px 10px 4px 10px;
}

td:last-child, th:last-child { border-right:1px solid #cccccc; }
tr:last-child th, tr:last-child td { border-bottom:1px solid #cccccc; }
tr.bold td { font-weight: bold; }

th {
    background: #e8e9ea;
    text-align: left;
    font-weight: bolder;
}

tbody:last-child tr:last-child td:first-child, tbody:last-child tr:last-child th:first-child {
    border-radius: 0 0 0 8px;
    -webkit-border-radius: 0 0 0 8px;
    -moz-border-radius: 0 0 0 8px;
}

tbody:last-child tr:last-child td:last-child, tbody:last-child tr:last-child th:last-child {
    border-radius: 0 0 8px 0;
    -webkit-border-radius: 0 0 8px 0;
    -moz-border-radius: 0 0 8px 0;
}

.row1 { background: #ffffff; }
.row2 { background: #f3f3f4; }

.sort-icon {
    float: right;
    margin: 0 0 0 20px;
}

/* --------------------------- Global Layout ------------------------- */

.container {
    width: 960px;
    margin: 0 auto;
}

.primary-left, .secondary-left {
    float: left;
    position: relative;
}

.primary-right, .secondary-right {
    float: right;
}

/* --------------------------- Base Header --------------------------- */

#global-nav {
    background: #4f4e4e;
    overflow: hidden;
    padding: 8px 0;
    color: #e0dede;
    font-size: 11px;
}

#global-nav .container {
    position: relative;
}

#global-nav ul {
    float: right;
}

#global-nav ul li {
    float: left;
    margin: 0 0 0 20px;
}

#global-nav a {
    color: #e0dede;
}

#global-nav-user {
    float: left;
}

#big-wrap {
    min-height: 100%;
}

#local-nav {
    background: #ffffff;
    overflow: auto;
}

#local-nav .container {
    margin: 7px auto;
    /*position: relative;*/
    z-index: 2;
}


#local-nav ul {
    float: right;
    margin-top: 19px;
}

#local-nav ul li {
    float: left;
    margin: 0 0 0 10px;
}

#local-nav ul li a {
    display: block;
    font-size: 14px;
    color: #000000;
    padding: 8px 14px;
    font-weight: 500;
    line-height: 1.1;
}

#local-nav ul li:last-child a {
    padding-right: 0;
}

#local-nav ul li:last-child.selected a {
    padding-right: 14px;
}

ul#account-nav li { float: left; }
ul#account-nav li a { display: block; padding: 8px 14px; font-weight: 500; color: #000000; }

ul#account-nav li ul {
    z-index: 999;
    position: absolute;
    display: block;
    float: left;
    min-width: 200px;
    margin: 0;
    overflow: visible;
    background: url(../img/dropdown_arrow.png) no-repeat;
    background-position: 19px 4px;
}

ul#account-nav li ul li { display: block; float: none; }
ul#account-nav li ul li.first { overflow: visibile; margin-top: 14px; }

ul#account-nav li ul li a {
    display: block;
    text-decoration: none;
    color: #da2b15;
    background: #f5f5f5;
    padding: 10px 20px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    -webkit-box-shadow: 0 3px 5px rgba(102,102,102, .22);
    -moz-box-shadow: 0 3px 5px rgba(102,102,102, .22);
    box-shadow: 0 3px 5px rgba(102,102,102, .22);
}

ul#account-nav li ul li.first a {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    -webkit-box-shadow: 0 3px 5px rgba(102,102,102, .22);
    -moz-box-shadow: 0 3px 5px rgba(102,102,102, .22);
    box-shadow: 0 3px 5px rgba(102,102,102, .22);
}

ul#account-nav li ul li.last a {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-radius-bottomleft: 4px;
    -webkit-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    -webkit-box-shadow: 0 3px 5px rgba(102,102,102, .22);
    -moz-box-shadow: 0 3px 5px rgba(102,102,102, .22);
    box-shadow: 0 3px 5px rgba(102,102,102, .22);
}

ul#account-nav li ul li a:hover { text-decoration: underline; background: #ebebeb; }

#content {
    background: #f5f5f5 url(../img/content_bg.jpg) top repeat-x;
    border-top: solid 1px #cccbcb;
    overflow: auto;
    min-height: 400px;
}

#content .container {
    background: #fcfcfc;
    width: 914px;
    min-height: 400px;
    line-height: 20px;
    padding: 20px;
    margin: 20px auto 40px auto;
    border: solid 3px #cccbcb;
    -webkit-box-shadow: 0 3px 5px rgba(102,102,102, .22);
    -moz-box-shadow: 0 3px 5px rgba(102,102,102, .22);
    box-shadow: 0 3px 5px rgba(102,102,102, .22);
    overflow: auto;
}

#content .container p {
    margin: 0 0 24px;
}

#content .content-title {
    font-weight:400;
    font-size: 22px;
    width: 960px;
    margin: 25px auto;
    color: #2c2a2a;
}

#content .primary-left, #content .primary-right {
    width: 560px;
}

#content .secondary-left, #content .secondary-right {
    width: 300px;
}

#wrapper {
    overflow: auto;
    padding-bottom: 100px;
}

/* --------------------------- Base Footer --------------------------- */

#footer .container {
    padding: 43px 0;
    overflow: hidden;
}

#footer .copywrite {
    float: right;
}

#footer a {
    color: #edecec;
}

#footer {
    background:#4f4e4e url(../img/footer_bg.jpg) top repeat-x;
    position: relative;
    margin-top: -100px;
    text-align: center;
    color: #edecec;
    font-size: 14px;
    height: 100px;
    width: 100%;
    border-top: solid 1px #ffffff;
    clear: both;
}

#footer li {
    float: left;
    margin: 0 25px 0 0;
}

/* --------------------------- Buttons --------------------------- */

button.back, button.back:hover, button.back:active {
    background: url(../img/btn_back.png);
    height: 40px;
    width: 110px;
    text-indent: -9999em;
    border: 0;
}

input.submit-grn, input.submit-grn:hover, input.submit-grn:active {
    background: url(../img/btn_submit_grn.png);
    height: 40px;
    width: 110px;
    text-indent: -9999em;
    border: 0;
}

input.cancel, input.cancel:hover, input.cancel:active {
    background: url(../img/btn_cancel.png);
    height: 40px;
    width: 110px;
    text-indent: -9999em;
    border: 0;
}

input.search, input.search:hover, input.search:active {
    background: url(../img/btn_search.png);
    height: 40px;
    width: 70px;
    text-indent: -9999em;
    border: 0;
}

input.continue, input.continue:hover, input.continue:active {
    background: url(../img/btn_continue.png);
    height: 40px;
    width: 110px;
    text-indent: -9999em;
    border: 0;
}

input.next, input.next:hover, input.next:active {
    background: url(../img/btn_next.png);
    height: 40px;
    width: 110px;
    text-indent: -9999em;
    border: 0;
}

input.sign-up, input.sign-up:hover, input.sign-up:active,
a.sign-up, a.sign-up:hover, a.sign-up:active {
    background: url(../img/btn_signup.png);
    height: 40px;
    width: 110px;
    text-indent: -9999em;
    display: block;
}

input.sign-up, input.sign-up:hover, input.sign-up:active {
    border: 0;
}

a.btn-learn-more, a.btn-learn-more:hover, a.btn-learn-more:active {
    background: url(../img/btn_learnmore.png);
    height: 40px;
    width: 130px;
    text-indent: -9999em;
    display: block;
}

button.back:hover {background: url(../img/btn_back.png) 0 -40px;}
button.back:active {background: url(../img/btn_back.png) 0 -80px;}

input.submit-grn:hover {background: url(../img/btn_submit_grn.png) 0 -40px;}
input.submit-grn:active {background: url(../img/btn_submit_grn.png) 0 -80px;}

input.cancel:hover {background: url(../img/btn_cancel.png) 0 -40px;}
input.cancel:active {background: url(../img/btn_cancel.png) 0 -80px;}

input.search:hover {background: url(../img/btn_search.png) 0 -40px;}
input.search:active {background: url(../img/btn_search.png) 0 -80px;}

input.continue:hover {background: url(../img/btn_continue.png) 0 -40px;}
input.continue:active {background: url(../img/btn_continue.png) 0 -80px;}

input.next:hover {background: url(../img/btn_next.png) 0 -40px;}
input.next:active {background: url(../img/btn_next.png) 0 -80px;}

input.sign-up:hover, a.sign-up:hover {background: url(../img/btn_signup.png) 0 -40px;}
input.sign-up:active, a.sign-up:active {background: url(../img/btn_signup.png) 0 -80px;}

a.btn-learn-more:hover {background: url(../img/btn_learnmore.png) 0 -40px;}
a.btn-learn-more:active {background: url(../img/btn_learnmore.png) 0 -80px;}

/* --------------------------- Base Elements --------------------------- */

form p {
    margin-top: 30px;
}

form label {
    font-size: 16px;
    display: block;
}

.pagination {
    margin: 30px 0 2px 0;
}

.pagination a, .pagination span {
    color: #333333;
}

.pagination span {
    background: #ffffff url(../img/caption_bg.png) bottom repeat-x;
    padding: 0 .91em;
    border: 1px solid #cccccc;
    font-weight: bold;
    font-size: 11px;
    display: inline-block;
    line-height: 2.8em;
    height: 2.78em;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#login-form input[type="text"], #login-form input[type="password"] {
    width: 260px!important;
    height: 24px!important;
    padding: 2px 4px;
    font-size: inherit;
    font-weight: normal;
    vertical-align: middle;
}

.sidebar {
    background: url(../img/sidebar_bg.png) top repeat-x;
    padding:15px;
    min-height: 300px;
}

.sidebar h1, .sidebar h2 {
    color: #000000;
}

.sidebar h3, .sidebar h4 {
    color: #da2b15;
}

#sidenav {
    background: #f1f0f0;
    padding: 10px;
    font-size: 16px;
    line-height:14px;
}

#sidenav ul{
}

#sidenav li a {
    color: #000000;
    padding: 13px 0px 15px 20px;
    display: block;
}

#sidenav li a:hover {
    background: #f9f9f9;
    text-decoration: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

ul.system-messages {
    width: 90%;
    display: block;
    clear: both;
    float: left;
    border: 1px solid #cccccc;
    background: #f5f5f5;
    margin: 0 5% 20px 5%;
}

ul.system-messages li{
    font-size: 19px;
    color: #da2b15;
    padding: 10px 0;
    text-align: center;
}

#did-search {
    background: #f1f0f0;
    width: 295px;
    padding: 10px;
    overflow: hidden;
    margin-bottom: 40px;
}

#did-search li {
    float: left;
}

#did-search input[type="text"] {
    border: 1px solid #4f4e4e;
    padding: 2px 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: normal;
    vertical-align: middle;
    width: 210px;
    height: 34px;
}

#did-search input[type="submit"] {
    display: block;
    margin-left:5px;
}

#area-list, #prefix-list {
    display:inline;
    float:left;
}

#prefix-list {
    width: 300px;
}

#area-list span, #prefix-list span {
    display: inline;
    float: left;
    font-size: 14px;
    margin: 0 10px;
}

select#area-code, select#prefix {
    display: block;
    float: left;
    width: 55px;
}

ul.result {
    margin-right:10px;
}

ul.result li a {
    text-decoration:none;
}

ul.result li a:hover {
    text-decoration:underline;
}

ul.result li {
    margin-top: 10px;
    padding:5px 0 15px 30px;
    background:url(../img/icon_article.png) top left no-repeat;
    border-bottom: 1px solid #f1f0f0;
}

ul.result li p {
    margin: 0;
    color: #666666;
    font-size: 12px;
}

ul.result li:last-child {
    border-bottom:0px;
}

/* Login */

#login-form {
    margin-top: 20px;
}

#facebox h3 img {
    vertical-align: text-bottom;
}

#lightbox-login {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

#lightbox-login #facebox {
    margin: 121px auto;
    width: 410px;
    position: static;
    z-index: 101;
}

* html #lightbox-login { /* ie6 hack */
    position: absolute;
    height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}


