#facebox {
  /* position: absolute; */
  position: fixed!important;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}


#facebox .popup{
  position:relative;
  border:1px solid #4f4e4e;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
  -webkit-box-shadow:0 0 18px rgba(0,0,0,0.4);
  -moz-box-shadow:0 0 18px rgba(0,0,0,0.4);
  box-shadow:0 0 18px rgba(0,0,0,0.4);
}

#facebox .popup #login-form ul {
    margin-top: 15px;
    font-size: 14px;
    color: #da2b15;
    text-decoration: none;
}

#facebox .popup #login-form ul li {
    height: 20px;
    float: left;
}

#facebox .popup #login-form ul li:last-child {
    float: right;
}

#facebox .popup #login-form ul li span {
    padding-top: 3px;
    float: right;
}

#facebox .popup input#btn-login {
    background: url(../img/icon_arrow.png) center left no-repeat;
    font-size: 14px;
    color: #da2b15;
    margin: 0;
    padding: 0 0 0 17px;
    text-decoration: none;
    border: 0;
}

#facebox .popup input#btn-login:hover {
    text-decoration: underline;
}

#facebox .content {
  display:table;
  padding: 15px;
  background: #f5f5f5;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
}

#facebox .content > p:first-child{
  margin-top:0;
}
#facebox .content > p:last-child{
  margin-bottom:0;
}

#facebox .close{
  position:absolute;
  top:5px;
  right:5px;
  padding:2px;
}
#facebox .close img{
  opacity:0.5;
}
#facebox .close:hover img{
  opacity:1.0;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}
