.form-row {
    font-size: 1em;
    padding: 4px 0 4px 0;
    position: relative;
}

.form-row label { position: absolute; left: 0; font-weight: bold; text-align: right; width: 120px; padding-top: 2px; }
.fRequired label:after { color: red; content: ' *'; }
.form-row label.inline { position: static; text-align: left; width: auto; font-weight: normal; padding: 0; }
.form-row .helptext { display: block; color: #999; font-size: 93%; }
.form-row textarea,
.form-row input[type=text],
.form-row select {
    padding: 2px 4px;
    border: 1px solid #4f4e4e;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: inherit;
    font-weight: normal;
    vertical-align: middle;
}

.form-row .button.small {
    line-height: 12px;
    vertical-align: middle;
}
.form-row p {
    padding: 2px 4px;
    margin-bottom: 0;
}

.placeholder { color: #747373; }
::-webkit-input-placeholder { color: #747373; }
:-moz-placeholder { color: #747373; }
