.round {
    behavior: url(/static/css/border-radius.htc);
    border-radius: 8px;
}

.round-top {
    behavior: url(/static/css/border-radius.htc);
    border-radius: 8px 8px 0 0;
}

.round-bot {
    behavior: url(/static/css/border-radius.htc);
    border-radius: 8px 8px 0 0;
}
