/* --------------------------- Home Page Layout ----------------------- */
div#home-wrapper {
    background: #ffffff;
    overflow: auto;
    width: 100%;
}

#home-content {
    background: url(../img/home_bg.jpg) bottom no-repeat;
    height: 357px;
    width: 407px;
    padding: 62px 63px 41px 490px;
    text-shadow: 0 1px 0 #ffffff;
}

.home-container {
    width: 960px;
    margin: 0 auto 0;
}

.callout-1, .callout-2 {
    background: url(../img/callout_bg.png) bottom no-repeat;
    float: left;
    margin: 35px 30px 30px 0;
    height: 240px;
    width: 450px;
}

.callout-2 {
    margin: 35px 0 30px 30px;
}

.callout-1 h3, .callout-2 h3 {
    padding-left: 20px;
    font-size: 21px;
}

div#pbx-callout, div#hosting-callout {
    background:url(../img/icon_phone_2.png) no-repeat left top;
    margin-top: 20px;
    padding: 10px 20px 0px 170px;
    height: 150px;
}

div#hosting-callout {
    background:url(../img/icon_server.png) no-repeat left top;
}

div#pbx-callout p, div#hosting-callout p {
    margin: 18px 0 18px;
}

h2#success-stories {
}

#home-content p {
    margin: 0 0 30px;
    line-height: 19px;
}

#home-content #cta {
    overflow: hidden;
}

#home-content #cta li {
    float: left;
}

a.learn-more, a.learn-more:hover, a.learn-more:visited {
    background: url(../img/icon_arrow.png) center left no-repeat;
    display: block;
    font-size: 14px;
    color: #da2b15;
    padding: 0 0 0 17px;
}

/* --------------------------- Services ----------------------- */

ul.service-features {
    margin: 30px 0 50px 0;
}

ul.service-features h3 {
    color: #da2b15;
    margin: 0;
}

ul.service-features li#icon-phone,
ul.service-features li#icon-network,
ul.service-features li#icon-arrows,
ul.service-features li#icon-support,
ul.service-features li#icon-value {
    background: url(../img/icon_phone.png) center left no-repeat;
    min-height: 85px;
    padding-left: 60px;
    margin-top: 20px;
}

ul.service-features li#icon-network {
    background: url(../img/icon_network.png) center left no-repeat;
}

ul.service-features li#icon-arrows {
    background: url(../img/icon_arrows.png) center left no-repeat;
}

ul.service-features li#icon-support {
    background: url(../img/icon_support.png) center left no-repeat;
}

ul.service-features li#icon-value {
    background: url(../img/icon_value.png) center left no-repeat;
}

#service-cta {
    background: #F1F0F0;
    margin-top: 50px;
    padding: 20px;
    width: 520px;
}

#service-cta h1 {
    color: #000000;
    margin: 0;
}

#service-cta h4 {
    color: #da2b15;
}

#quote-form {
    border: 1px solid #cccccc;
}

#quote-form div#quote-top {
    padding: 20px 15px 10px 15px;
    background: #f5f5f5;
}

#quote-form div#quote-bottom {
    padding: 10px 15px 10px 15px;
    background: #ebebeb;
}

/* --------------------------- Contact Icons ----------------------- */

#about-network, #contact-address, #contact-phone, #contact-email {
    background: url(../img/icon_home.png) center left no-repeat;
    min-height: 85px;
    padding-left: 60px;
    margin-top: 25px;
}

#about-network {
    background: url(../img/icon_network.png) center left no-repeat;
}

#contact-phone {
    background: url(../img/icon_phone.png) center left no-repeat;
}

#contact-email {
    background: url(../img/icon_mail.png) center left no-repeat;
}

#contact-email a {
    color: #000000;
}

#contact-buttons {
    background: #f1f0f0;
    padding: 10px;
    overflow: hidden;
}

#contact-buttons ul {
    float: right;
}

#contact-buttons li {
    float: left;
}

#contact-buttons li input[type="submit"],#contact-buttons li input[type="reset"] {
    display: block;
}


/* --------------------------- Knowledge Base ----------------------- */

#kb-search {
    background: #f1f0f0;
    padding: 10px;
    overflow: hidden;
    margin-bottom: 40px;
}

#kb-search li {
    float: left;
}

#kb-search input[type="text"] {
    border: 1px solid #4f4e4e;
    padding: 2px 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: normal;
    vertical-align: middle;
    width: 195px;
    height: 34px;
}

#kb-search input[type="submit"] {
    display: block;
    margin-left:5px;
}

#kb-spacer {
    width: 26px;
    margin-top: 10px;
    height: 580px;
    border-right: 1px solid #cccccc;
    float: left;
}

#kb-article {
    color: #000000;
    padding: 24px 0 24px 0;
    min-height: 600px;
}

#kb-infobar {
    height: 60px;
    background: #f1f0f0;
    padding: 0 40px;
    color: #666666;
    -webkit-box-shadow: inset 0 1px 3px #cccccc;
    -moz-box-shadow: inset 0 1px 3px #cccccc;
    box-shadow: inset 0 1px 3px #cccccc;
}

#kb-infobar a:hover {
    text-decoration: underline;
}

#kb-infobar p {
    margin: 0;
    padding-top: 21px;
    text-shadow: 0 1px 0 #fff;
}

#login {
    background: #f5f5f5;
    height: 500px;
    width: 500px;
}

textarea.disclosure {
    margin: 15px 0 25px 0;
    width: 546px;
    height: 236px;
    font-size: 10px;
}

/* ------------------------------ Rates ---------------------------- */

ul#rate-selector {
    display: block;
    float: left;
    list-style: none;
    clear: both;
    width: 100%;
    margin: 10px 0;
}

ul#rate-selector li {
    display: block;
    float: left;
}

ul#rate-selector li a {
    padding: 3px 6px;
}

ul#rate-selector li a.selected {
    background: #f1f0f0;
}
