/* --------------------------- Dashboard ------------------------- */
#dashboard table { margin-bottom: 60px; }

#balance-cta, #contact-cta {
    border: 1px solid #cccccc;
    margin-bottom: 60px;
}

#balance-cta h2 { margin: 0 0 10px; }

#balance-cta #balance-top, #contact-cta div#contact-top {
    padding: 20px 15px 10px 15px;
    background: #f5f5f5;
}

#balance-cta div#balance-bottom, #contact-cta div#contact-bottom {
    padding: 10px 15px 10px 15px;
    background: #ebebeb;
}

#balance-cta div#balance-bottom { height: 20px; }

#balance-cta div#balance-bottom a {
    background: url(../img/icon_arrow.png) center left no-repeat;
    float: right;
    font-size: 14px;
    color: #da2b15;
    padding: 0 30px 0 17px;
}

/* --------------------------- CDR List ------------------------- */
div#cdr-filter {
    width:100%;
    height: 60px;
    background: #f1f0f0;
    margin-bottom: 40px;
}

#cdr-filter ul {
    /* float: right; */
    padding: 10px;
}

#cdr-filter ul li {
    float:left;
    padding: 8px 40px 0 0;
}

#cdr-filter label, #cdr-filter select {
    display: inline;
    font-size: 18px;
}

/* --------------------------- Fax Server ----------------------- */

div#fax-search { width: 380px; }

#fax-search {
    background: #f1f0f0;
    padding: 10px;
    overflow: hidden;
    margin-bottom: 40px;
}

#fax-search li { float: left; }

#fax-search input[type="text"] {
    border: 1px solid #4f4e4e;
    padding: 2px 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: normal;
    vertical-align: middle;
    width: 295px;
    height: 34px;
}

#fax-search input[type="submit"] {
    display: block;
    margin-left:5px;
}


