body {
    font: 14px/1 "Helvetica Neue", Arial, sans-serif;
    color: #000000;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

h1 {
    font-size: 26px;
    margin: 0 0 24px;
    color: #2c2a2a;
}

h2 {
    font-size: 22px;
    margin: 0 0 22px;
    color: #2c2a2a;
}

h3 {
    font-size: 19px;
    margin: 0 0 19px;
    color: #2c2a2a;
}

pre {
    white-space: pre-wrap;       /* CSS-3                  */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999    */
    white-space: -pre-wrap;      /* Opera 4-6              */
    white-space: -o-pre-wrap;    /* Opera 7                */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre, code { font-family: Fixed, monospace; }

small { font-size: 93%; }
