{% extends "admin_base.html" %}
{% block title %}Active Calls{% endblock %}
{% block content_title %}Active Calls{% endblock %}
{% block content %}
<h1>Current active calls</h1>
<div id="active-calls">
</div>
{% endblock %}

{% block extra_js %}<script src="{{ STATIC_URL }}js/admin_active_calls.js"></script>{% endblock %}
