{% load cdr_formatting %}
<table id=did-numbers" class="width-100">
  <caption>Active Calls</caption>
  <tr>
    <th>Endpoint</th>
    <th>Start Time</th>
    <th>Caller ID Name</th>
    <th>Caller ID Number</th>
    <th>Destination Number</th>
  </tr>
  {% for call in call_list %}
  <tr class="{% cycle 'row1' 'row2' %}">
    <td>{{ call.endpoint }}</td>
    <td>{{ call.created }}</td>
    <td>{{ call.caller_name }}</td>
    <td>{{ call.caller_num|num2tel }}</td>
    <td>{{ call.callee_num|num2tel }}</td>
  </tr>
  {% endfor %}
</table>
