{% extends "admin_base.html" %}
{% load cdr_formatting %}

{% block title %}CDR Detail{% endblock %}

{% block content_title %}CDR Detail{% endblock %}
{% block content %}
{% if cdr %}
<table class="width-90">
    <tr class="row1">
        <th>User</th>
        <td>{{ cdr.get_user }}</td>
    </tr>
    <tr class="row1">
        <th>Endpoint</th>
        <td>{{ cdr.get_endpoint }}</td>
    </tr>
    <tr class="row1">
        <th>Context</th>
        <td>{{ cdr.context }}</td>
    </tr>
    <tr class="row1">
        <th>UUID</th>
        <td>{{ cdr.uuid }}</td>
    </tr>
    <tr class="row2">
        <th>B-Leg UUID</th>
        <td>{{ cdr.bleg_uuid }}</td>
    </tr>
    <tr class="row1">
        <th>Direction</th>
        <td>{{ cdr.call_direction }}</td>
    </tr>
    <tr class="row2">
        <th>Start Time</th>
        <td>{{ cdr.start_time }}</td>
    </tr>
    <tr class="row1">
        <th>Answer Time</th>
        <td>{{ cdr.answer_time }}</td>
    </tr>
    <tr class="row2">
        <th>End Time</th>
        <td>{{ cdr.end_time }}</td>
    </tr>
    <tr class="row1">
        <th>Duration</th>
        <td>{{ cdr.duration|sec2hms }}</td>
    </tr>
    <tr class="row2">
        <th>Post Dial Delay</th>
        <td>{{ cdr.pdd_msec|ms2sec }}</td>
    </tr>
</table>
<br />
<table class="width-90">
    <tr class="row1">
        <th>CNAM Lookup</th>
        <td>{{ cdr.cnam }}</td>
    </tr>
    <tr class="row2">
        <th>Billable Secs</th>
        <td>{{ cdr.billsec }}</td>
    </tr>
    <tr class="row1">
        <th>Billed Sec</th>
        <td>{{ cdr.billedsec }}</td>
    </tr>
    <tr class="row1">
        <th>Billing Timestamp</th>
        <td>{{ cdr.billed_tstamp }}</td>
    </tr>
    <tr class="row1">
        <th>Rate</th>
        <td>{{ cdr.rate }}</td>
    </tr>
    <tr class="row1">
        <th>Rate Description</th>
        <td>{{ cdr.rate_description }}</td>
    </tr>
    <tr class="row1">
        <th>Rate Timestamp</th>
        <td>{{ cdr.rate_tstamp }}</td>
    </tr>
    <tr class="row2">
        <th>Charge</th>
        <td>{{ cdr.charge }}</td>
    </tr>
</table>
<br />
<table class="width-90">
    <tr class="row1">
        <th>Caller Name</th>
        <td>{{ cdr.caller_name }}</td>
    </tr>
    <tr class="row2">
        <th>Caller Number</th>
        <td>{{ cdr.caller_number|num2tel }}</td>
    </tr>
    <tr class="row1">
        <th>Caller Location</th>
        <td>{{ cdr.caller_location }}</td>
    </tr>
    <tr class="row2">
        <th>Caller IP Address</th>
        <td>{{ cdr.caller_ip }}</td>
    </tr>
    <tr class="row1">
        <th>Caller SDP</th>
        <td>{{ cdr.caller_sdp|crlf2html }}</td>
    </tr>
</table>
<br />
<table class="width-90">
    <tr class="row1">
        <th>Callee Number</th>
        <td>{{ cdr.callee_number|num2tel }}</td>
    </tr>
    <tr class="row2">
        <th>Callee Location</th>
        <td>{{ cdr.callee_location }}</td>
    </tr>
    <tr class="row1">
        <th>Callee SDP</th>
        <td>{{ cdr.callee_sdp|crlf2html }}</td>
    </tr>
</table>
<br />
<table class="width-90">
    <tr class="row1">
        <th>SIP Local Network Address</th>
        <td>{{ cdr.sip_local_network_addr }}</td>
    </tr>
    <tr class="row2">
        <th>SIP Call-Id</th>
        <td>{{ cdr.sip_call_id }}</td>
    </tr>
    <tr class="row1">
        <th>SIP From URI</th>
        <td>{{ cdr.sip_from_uri }}</td>
    </tr>
    <tr class="row2">
        <th>SIP To URI</th>
        <td>{{ cdr.sip_to_uri }}</td>
    </tr>
    <tr class="row1">
        <th>SIP Req URI</th>
        <td>{{ cdr.sip_req_uri }}</td>
    </tr>
    <tr class="row2">
        <th>SIP Contact URI</th>
        <td>{{ cdr.sip_contact_uri }}</td>
    </tr>
    <tr class="row1">
        <th>SIP User Agent</th>
        <td>{{ cdr.sip_user_agent }}</td>
    </tr>
    <tr class="row2">
        <th>SIP Termination Cause</th>
        <td>{{ cdr.sip_term_status }}</td>
    </tr>
</table>
<br />
<table class="width-90">
    <tr class="row1">
        <th>Hangup Cause</th>
        <td>{{ cdr.hangup_cause }}</td>
    </tr>
    <tr class="row2">
        <th>Originate Disposition</th>
        <td>{{ cdr.originate_disposition }}</td>
    </tr>
</table>

{% else %}
    <p>Invalid CDR ID</p>
{% endif %}
{% endblock %}
