{% extends "admin_base.html" %}
{% load cdr_formatting %}

{% block title %}SIP Trunking Management{% endblock %}

{% block content %}
<form action="" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>

{% if cdr_list %}
<table>
    <tr>
        <th>Start Time</th>
        <th>Duration</th>
        <th>Direction</th>
        <th>Caller Location</th>
        <th>Caller Name</th>
        <th>Caller Number</th>
        <th>Called Location</th>
        <th>Called Number</th>
    </tr>
    {% for cdr in cdr_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td>{{ cdr.start_time }}</td>
        <td>{{ cdr.duration|sec2hms }}</td>
        <td>{{ cdr.call_direction }}</td>
        <td>{{ cdr.caller_location }}</td>
        <td>{{ cdr.caller_name }}</td>
        <td>{{ cdr.caller_number|num2tel }}</td>
        <td>{{ cdr.callee_location }}</td>
        <td><a href="/admin/cdrs/{{ cdr.id }}/">{{ cdr.callee_number|num2tel }}</a></td>
    </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No CDRs are available.</p>
{% endif %}
{% endblock %}
