{% extends "admin_base.html" %}
{% load model_name %}

{% block title %}Confirm Delete{% endblock %}

{% block content_title %}Delete {{ object|name }}{% endblock %}
{% block content %}

<form action="" method="post">{% csrf_token %}
The are you sure you want to delete: {{ object }}
<br />
<input type="submit" value="Yes, I'm sure" />
</form>

{% endblock %}

