{% extends "admin_base.html" %}
{% load icons %}

{% block title %}Web Servers{% endblock %}

{% block content %}
<a href="add/">Add New</a>
{% if cpanelserver_list %}
    <table>
    <tr>
        <th>Name</th>
        <th>IP Address</th>
        <th>Active</th>
        <th>Connection Status</th>
        <th></th>
    </tr>
    {% for cpanelserver in cpanelserver_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td><a href="{{ cpanelserver.pk }}/edit/">{{ cpanelserver.name }}</a></td>
        <td>{{ cpanelserver.ip_addr }}</td>
        <td>{{ cpanelserver.is_active|boolean_icon }}</td>
        <td>{{ cpanelserver.conn_status|boolean_icon }}</td>
        <td><a href="{{ cpanelserver.pk }}/delete/">Delete</a></td>
    </tr>
    {% endfor %}
    </table>

{% else %}
    <p>No web servers have been created</p>
{% endif %}
{% endblock %}
