{% extends "admin_base.html" %}
{% load icons %}

{% block title %}System DIDs{% endblock %}

{% block content %}
<form method="get" action="/admin/dids/search/">
    <div id="did-search" class="round">
        <ul>
            <li>
                <input type="text" name="q" placeholder="Search" />
            </li>
            <li>
                <input class="search" type="submit" value="Search" />
            </li>
        </ul>
    </div>
</form>
<a href="add/">Add New</a> | <a href="export/">Export</a>
{% if did_list %}
    <table>
    <tr>
        <th>Number</th>
        <th>User</th>
        <th>Endpoint</th>
        <th>Enable CNAM</th>
        <th>Enable Fax</th>
        <th>Service Location</th>
        <th>Description</th>
        <th>Rate Center</th>
        <th></th>
    </tr>
    {% for did in did_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td><a href="/admin/dids/{{ did.number }}/edit/">{{ did.number }}</a></td>
        <td>{{ did.user }}</td>
        <td>{{ did.endpoint }}</td>
        <td>{{ did.enable_cnam|boolean_icon }}</td>
        <td>{{ did.enable_fax_srv|boolean_icon }}</td>
        <td>{{ did.svc_addr }}</td>
        <td>{{ did.description }}</td>
        <td>{{ did.rate_center }}</td>
        <td><a href="{{ did.number }}/delete/">Delete</a></td>
    </tr>
    {% endfor %}
    </table>

{% else %}
    <p>No DIDs have been created</p>
{% endif %}
{% endblock %}
