{% extends "admin_base.html" %}

{% block title %}{% if object %}Modify{% else %}Add{% endif %} Invoice{% endblock %}

{% block content_title %}{% if object %}Modify{% else %}Add{% endif %} Invoice{% endblock %}
{% block content %}

<form action="" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>
{% if object.pk %}
<a href="/admin/billing/invoices/{{ object.pk }}/add-charge/">Add Charge</a>
<table>
  <caption>Items</caption>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Unit Price</th>
    <th>Quantity</th>
    <th>Amount</th>
    <th></th>
  </tr>
  {% for item in object.items %}
  <tr class="{% cycle 'row1' 'row2' %}">
    <td>{{ item.name }}</td>
    <td>{{ item.description }}</td>
    <td>{{ item.rate }}</td>
    <td>{{ item.quantity }}</td>
    <td>{{ item.amount }}</td>
    <td><a href="/admin/billing/invoices/{{ object.pk }}/remove-charge/{{ item.pk }}/">Remove</a></td>
  </tr>
  {% endfor %}
{% endif %}
</table>
<br />
<strong>Total:</strong>{{ invoice.amount }}
{% endblock %}

