{% extends "admin_base.html" %}

{% block title %}Invoices{% endblock %}
{% block content_title %}Invoices{% endblock %}

{% block content %}
<a href="add/">Add New</a>
{% if invoice_list %}
    <table>
    <tr>
        <th>Number</th>
        <th>User</th>
        <th>Created Date</th>
        <th>Amount</th>
        <th>Date Due</th>
        <th>Description</th>
        <th></th>
    </tr>
    {% for invoice in invoice_list %}
    <tr class="{% cycle 'row1' 'row2' %}{% if invoice.overdue %} bold{% endif %}">
        <td><a href="{{ invoice.pk }}/edit/">{{ invoice.pk }}</a></td>
        <td>{{ invoice.user }}</td>
        <td>{{ invoice.time_stamp }}</td>
        <td>{{ invoice.amount }}</td>
        <td>{{ invoice.date_due }}</td>
        <td>{{ invoice.description }}</td>
        <td><a href="{{ invoice.pk }}/delete/">Delete</a></td>
    </tr>
    {% endfor %}
    </table>

{% else %}
    <p>No Invoices exist</p>
{% endif %}
{% endblock %}
