{% extends "admin_base.html" %}
{% block title %}Knowledge Base Article{% endblock %}
{% block content %}
<form action="" method="post">{% csrf_token %}
<table>
{{ form.as_table }}
</table>
<input type="submit" value="Submit" />
</form>

{% endblock %}
{% block extra_js %}{% include "tiny_mce_js.html" %}{% endblock %}
