{% extends "admin_base.html" %}
{% load icons %}

{% block title %}Knowledge Base Articles{% endblock %}

{% block content %}
<a href="add/">Add New</a>
{% if article_list %}
    <table>
    <caption>Articles</caption>
    <tr>
        <th>Id</th>
        <th>Added</th>
        <th>Last Changed</th>
        <th>Create By</th>
        <th>Category</th>
        <th>Title</th>
        <th></th>
    </tr>
    {% for article in article_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td><a href="{{ article.id }}/edit/">{{ article.id }}</a></td>
        <td>{{ article.added }}</td>
        <td>{{ article.lastchanged }}</td>
        <td>{{ article.user }}</td>
        <td>{{ article.kbcategory.all }}</td>
        <td>{{ article.title }}</td>
        <td><a href="{{ article.id }}/delete/">Delete</a></td>
    </tr>
    {% endfor %}
    </table>

{% else %}
    <p>No articles have been created</p>
{% endif %}
{% endblock %}
