{% extends "admin_base.html" %}
{% load icons %}

{% block title %}Knowledge Base Categories{% endblock %}

{% block content %}
<a href="add/">Add New</a>
{% if category_list %}
    <table>
    <caption>Knowledge Base Categories</caption>
    <tr>
        <th>Id</th>
        <th>Added</th>
        <th>Last Changed</th>
        <th>Title</th>
        <th>Slug</th>
        <th></th>
    </tr>
    {% for category in category_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td><a href="{{ category.id }}/edit/">{{ category.id }}</a></td>
        <td>{{ category.added }}</td>
        <td>{{ category.lastchanged }}</td>
        <td>{{ category.title }}</td>
        <td>{{ category.slug }}</td>
        <td><a href="{{ category.id }}/delete/">Delete</a></td>
    </tr>
    {% endfor %}
    </table>

{% else %}
    <p>No categories have been created</p>
{% endif %}
{% endblock %}
