{% extends "admin_base.html" %}
{% load model_name %}

{% block title %}{{ object_list|name }}{% endblock %}

{% block content_title %}{{ object_list|name }}{% endblock %}
{% block content %}
<a href="add/">Add New</a>
{% if object_list %}
<table>
    <thead>
    <tr>
        <th>User Account</th>
        <th>Description</th>
        <th>Billing Plan</th>
    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td><a href="{{ object.pk }}/edit/">{{ object.user }}</a></td>
        <td>{{ object.description }}</td>
        <td>{{ object.billing_plan }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>No {{ object_list|name }} have been created</p>
{% endif %}
{% endblock %}
