{% extends "admin_base.html" %}

{% block title %}Payments{% endblock %}
{% block content_title %}Payments{% endblock %}

{% block content %}
<a href="add/">Add New</a>
{% if payment_list %}
    <table>
    <tr>
        <th>Number</th>
        <th>Created Date</th>
        <th>Amount</th>
        <th>Date Due</th>
        <th>Description</th>
        <th></th>
    </tr>
    {% for payment in payment_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td><a href="{{ payment.pk }}/edit/">{{ payment.pk }}</a></td>
        <td>{{ payment.time_stamp }}</td>
        <td>{{ payment.amount }}</td>
        <td>{{ payment.date_due }}</td>
        <td>{{ payment.description }}</td>
        <td><a href="{{ payment.pk }}/delete/">Delete</a></td>
    </tr>
    {% endfor %}
    </table>

{% else %}
    <p>No Payments exist</p>
{% endif %}
{% endblock %}
