{% extends "admin_base.html" %}
{% load model_name %}

{% block title %}{{ object_list|name }}{% endblock %}
{% block content_title %}{{ object_list|name }}{% endblock %}

{% block content %}
<a href="add/">Add New</a>
{% if object_list %}
    <table>
    <tr>
        <th>Name</th>
        <th>Monthly Price</th>
        <th>Setup Fee</th>
        <th>Description</th>
        <th></th>
    </tr>
    {% for object in object_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td><a href="{{ object.pk }}/edit/">{{ object.name }}</a></td>
        <td>{{ object.monthly_price }}</td>
        <td>{{ object.setup_fee }}</td>
        <td>{{ object.description }}</td>
        <td><a href="{{ object.pk }}/delete/">Delete</a></td>
    </tr>
    {% endfor %}
    </table>

{% else %}
    <p>No plans exist</p>
{% endif %}
{% endblock %}
