{% extends "admin_base.html" %}
{% block title %}VoIP Providers{% endblock %}

{% block content %}
<a href="add/">Add New</a>
{% if provider_list %}
<table>
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Portal URL</th>
        <th></th>
    </tr>
    {% for provider in provider_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td><a href="{{ provider.pk }}/edit/">{{ provider.name }}</a></td>
        <td>{{ provider.address_line1 }} {{ provider.address_line2 }}, {{ provider.address_city }}, {{ provider.address_state }}</td>
        <td>{{ provider.phone_num }}</td>
        <td>{{ provider.portal_url|urlize }}</td>
        <td><a href="{{ provider.pk }}/delete/">Delete</a></td>
    </tr>
    {% endfor %}
</table>

{% else %}
    <p>No Providers have been created</p>
{% endif %}
{% endblock %}
