{% extends "admin_base.html" %}
{% load icons %}

{% block title %}Testimonials{% endblock %}
{% block content_title %}Testimonials{% endblock %}

{% block content %}
<a href="add/">Add New</a>
{% if testimonial_list %}
    <table>
    <tr>
        <th>Testimonial</th>
        <th>Date Added</th>
        <th>Active</th>
        <th>Customer</th>
        <th></th>
    </tr>
    {% for testimonial in testimonial_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td><a href="{{ testimonial.pk }}/edit/">{{ testimonial }}</a></td>
        <td>{{ testimonial.added }}</td>
        <td>{{ testimonial.is_active|boolean_icon }}</td>
        <td>{{ testimonial.customer_name }} - {{ testimonial.customer_title }}</td>
        <td><a href="{{ testimonial.pk }}/delete/">Delete</a></td>
    </tr>
    {% endfor %}
    </table>

{% else %}
    <p>No testimonials exist</p>
{% endif %}
{% endblock %}
