{% extends "admin_base.html" %}

{% block title %}Modify User{% endblock %}

{% block content_title %}Modify user {{ object }}{% endblock %}
{% block content %}

<form action="" method="post">{% csrf_token %}
{{ form.as_p }}
<p><a href="../su/">Login As User</a></p>
<input type="submit" value="Submit" />
</form>

{% endblock %}

