{% extends "admin_base.html" %}
{% load icons %}

{% block title %}User Accounts{% endblock %}

{% block content_title %}User Accounts{% endblock %}
{% block content %}
{% if user_list %}
    <table>
    <tr>
        <th>Username</th>
        <th>E-mail Address</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Account Active</th>
        <th>Staff Status</th>
    </tr>
    {% for user in user_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td><a href="{{ user.id }}/edit/">{{ user.username }}</a></td>
        <td>{{ user.email }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.is_active|boolean_icon }}</td>
        <td>{{ user.is_staff|boolean_icon }}</td>
    </tr>
    {% endfor %}
    </table>

{% else %}
    <p>No users exist</p>
{% endif %}
{% endblock %}
