{% extends "base_site.html" %}
{% block title %}About{% endblock %}
{% block meta_description %}About 5Nine Solutions business web and voip hosting{% endblock %}
{% block meta_keywords %}customer support, garden grove, california, contact us, telephony{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/marketing.css" />
{% endblock %}
{% block content_title %}About{% endblock %}
{% block content %}
<div class="primary-left" itemscope itemtype="http://data-vocabulary.org/Organization">
<h1>Customer Service First</h1>
<p>5Nine Solutions was founded to deliver the best possible hosting experience.  We're focused on delivering the performance, reliability, and service demanding clients deserve.
We pledge to treat each customer how we'd like to be treated.  We are constantly refining our network to deliver the best performance available.</p>
<h2>Address</h2>
<span itemprop="name">5Nine Solutions, LLC</span><br />
<span itemprop="address" itemscope
itemtype="http://data-vocabulary.org/Address"><span itemprop="street-address">7111 Garden Grove Blvd.</span><br />
Suite 201<br />
<span itemprop="locality">Garden Grove</span>, <span itemprop="region">CA</span> 92841</span><br /><br />
<h2>Phone Numbers</h2>
Toll Free 888-271-7959<br />
Local <span itemprop="tel">714-786-5356</span><br />
Fax 714-786-5357<br /><br />
<h2>Sales Questions</h2>
For pre-sales questions or concerns, please use our <a href="/contact/">contact</a> form.<br />
Existing customers should use our <a href="/support/">support</a> system.
</div>
<div class="secondary-right">
    <div class="sidebar round-top">
        <h4>Contact Us Today</h4>
        <h1>888-271-7959</h1>
        <div id="about-network">
            <h4>Our Network</h4>
            We utilize multiple data centers for the best performance no matter where your customers are located.<br />
            <a href="/about/network/" class="learn-more right">Learn More</a>
        </div>
        <div id="contact-email">
            <h4>Email</h4>
            <a href="mailto:info@5ninesolutions.com">info@5ninesolutions.com</a>
        </div>
    </div>
</div>
{% endblock %}
