{% extends "base_site.html" %}
{% block title %}Contact Us{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/marketing.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/forms.css" />
<style type="text/css">
.form-row label { display: none; }
.form-row textarea,
.form-row input[type=text],
.form-row select {
    width: 550px;
}
</style>
{% endblock %}
{% block content_title %}Contact Information{% endblock %}
{% block content %}
<div class="secondary-left">
    <div class="sidebar round-top">
    <h4>Contact Us Today</h4>
    <h1>888-271-7959</h1>
    <div id="contact-address">
        <h4>Mailling Address</h4>
        7111 Garden Grove Blvd<br />
        Suite 201<br />
        Garden Grove, CA 92841
    </div>
    <div id="contact-phone">
        <h4>Phone</h4>
        Toll Free 888-271-7959<br />
        Local 714-786-5356<br />
        Fax 714-786-5357<br />
    </div>
    <div id="contact-email">
        <h4>E-Mail</h4>
        <a href="mailto:info@5ninesolutions.com">info@5ninesolutions.com</a>
    </div>
    </div>
</div>
<div class="primary-right">
    <h1>E-mail Us</h1>
    <p>Our sales and billing office is open Monday through Friday from 8AM
    to 5PM Pacific Time. For technical assistance please refer to our
    <a href="/kb/">Knowledge Base</a> or use our <a href="/support/">support</a>
    form.</p>
<form action="" method="post">{% csrf_token %}
    {% include "form_snippet.html" %}
    <div id="contact-buttons" class="round">
      <ul>
        <li><input class="cancel" type="reset" value="Cancel" /></li>
        <li><input class="submit-grn" type="submit" value="Submit" /></li>
      </ul>
    </div>
</form>
<br /><br /><br />
<h2>Legal Inquiries</h2>
    <p>All legal inquiries should be sent via fax and certified mail to the
    address below.  At this time we do not accept legal inquiries via
    E-mail.</p>
    <p>Fax: 714-786-5357</p>
    <p>5Nine Solutions LLC<br />
    7111 Garden Grove Blvd<br />
    Suite 201<br />
    Garden Grove, CA 92841</p>
</div>
{% endblock %}
{% block extra_js %}
<script src="{{ STATIC_URL }}js/jquery.addplaceholder.min.js"></script>
<script>$('.add-ph').addPlaceholder();</script>
{% endblock %}
