{% extends "base_site.html" %}
{% block extrastyle %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/marketing.css" />
<style type="text/css">
textarea,
input[type="text"],
select {
    width: 350px;
    padding: 2px 4px;
    font-size: 14px;
}

#content .container form p { margin: 0 0 16px; }
</style>
{% endblock %}
{% block title %}Domain Search{% endblock %}

{% block content_title %}Domain Search{% endblock %}
{% block content %}
<div class="primary-left">
    <form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Search">
    </form>
</div>
<div class="secondary-right">
<div class="sidebar round-top">
    <h4>Contact Us Today</h4>
    <h1>888-271-7959</h1>
    <div id="contact-address">
        <h4>Mailling Address</h4>
        7111 Garden Grove Blvd<br />
        Suite 201<br />
        Garden Grove, CA 92841
    </div>
    <div id="contact-phone">
        <h4>Phone</h4>
        Toll Free 888-271-7959<br />
        Local 714-786-5356<br />
        Fax 714-786-5357<br />
    </div>
    <div id="contact-email">
        <h4>E-Mail</h4>
        <a href="mailto:info@5ninesolutions.com">info@5ninesolutions.com</a>
    </div>
</div>
</div>
{% endblock %}
