{% extends "base_site.html" %}
{% block extrastyle %}<link rel="stylesheet" href="/static/css/marketing.css" />{% endblock %}
{% block title %}Business VoIP and Web Hosting{% endblock %}
{% block global_content %}
<div id="home-wrapper">
<div class="home-container">
    <div id="home-content">
    <h1>When it has to Work</h1>
    <p>We provide high performance business VoIP and Web Hosting Solutions that empower your business.  When your business depends on the Web, depend on 5Nine Solutions.</p>
    <h2 id="success-stories">Success Stories</h2>
    <p style="margin-bottom:5px;">{{ testimonial.body }}</p>
    <p style="text-align:right;margin-bottom:20px;">- {{ testimonial.customer_name }}, {{ testimonial.customer_title }}</p>
    <ul id="cta">
        <li>
            <a href="/signup/" class="sign-up">Sign Up</a>
        </li>
        <li>
            <a href="/services/" class="btn-learn-more">Learn More</a>
        </li>
    </ul>
    </div>
</div>
</div>
<div id="content">
    <div class="home-container">
        <div class="callout-1">
        <h3>Business VoIP Phone Systems</h3>
        <div id="pbx-callout">
          <strong>Custom Built Solutions</strong>
          <p>Your business is exactly like another one, so why should you settle for an off the shelf phone system. Great service. Affordably.</p>
          <a href="/voip-pbx-hosting/" class="learn-more right">Learn More</a>
        </div>
        </div>
        <div class="callout-2">
        <h3>Website Hosting and Domains</h3>
        <div id="hosting-callout">
          <strong>Web Hosting that means business</strong>
          <p>High performance, affordably priced web hosting backed by real people that are here when you need us.  Find out what its like to have your business earned again.</p>
          <a href="/web-hosting/" class="learn-more right">Learn More</a>
        </div>
        </div>
    </div>
</div>
{% endblock %}
