{% extends "base_site.html" %}
{% block title %}VoIP Phone Systems, Website Hosting, and SIP Trunking{% endblock %}
{% block meta_description %}5Nine Solutions reliable voip, web hosting, and SIP trunking services{% endblock %}
{% block meta_keywords %}hosting, web hosting, sip trunking, pbx, ip pbx, phone system, business hosting, asterisk, voip hosting, voip{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/marketing.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/forms.css" />
<style type="text/css">
  .form-row label { display: none; }
  .form-row textarea,
  .form-row input[type=text],
  .form-row select { width: 250px; }
  a.learn-more { margin-left: 60%; }
  .border-top { border-top: 1px solid #f1f0f0; padding-top: 24px; }
</style>
{% endblock %}

{% block content_title %}Business VoIP, Web Hosting, and SIP Trunking Services{% endblock %}
{% block content %}
<div class="secondary-left">
  <div id="quote-form" class="round">
    <form action="" method="post">{% csrf_token %}
    <div id="quote-top" class="round-top">
      <h2>Contact Us Today</h2>
      {% include "form_snippet.html" %}
      <br />
    </div>
    <div id="quote-bottom" class="round-bot">
      <input type="submit" value="Submit" class="submit-grn" />
    </div>
    </form>
  </div>
</div>
<div class="primary-right">
<h1>Innovative hosting solutions for businesses</h1>
<p>We provide innovative communications products that allow
businesses of any size to work better, save money, and provide exceptional
customer service.</p>
<br />
<br />
<div id="service-voip">
  <h2>Hosted VoIP Phone Systems</h2>
  <p>Save up to 70% off a tradtional phone system. We build customized
  VoIP phone systems that works the way your business does. Our consultants
  will custom tailor a system built for your needs and we'll be there
  every step of the way.  Build your business, not the phone system.
  <br />
  <a href="/voip-pbx-hosting/" class="learn-more">Learn More</a></p>
</div>
<div id="service-web" class="border-top">
  <h2>Website Hosting and Domains</h2>
  <p>Empower your Internet presence with Web Hosting designed for business.
  Our all-inclusive pricing takes the guesswork out of choising a hosting
  provider. We make it simple, $10.95/mo for all the features you need.
  <br />
  <a href="/web-hosting/" class="learn-more">Learn More</a></p>
</div>
<div id="service-trunking" class="border-top">
  <h2>SIP Trunking Services</h2>
  <p>We offer the highest quality SIP trunking available with competetive rates.
  We use a blend of our own PSTN gateways and select Tier 1 providers
  to offer domestic origination covering 97% of the US population and
  worldwide A-Z termination.
  <br />
  <a href="/sip-trunking/" class="learn-more">Learn More</a></p>
</div>
</div>
{% endblock %}
{% block extra_js %}
<script src="{{ STATIC_URL }}js/jquery.addplaceholder.min.js"></script>
<script>
    $('.add-ph').addPlaceholder();
</script>
{% endblock %}
