{% extends "base_site.html" %}
{% block title %}All-Inclusive Web Hosting{% endblock %}
{% block meta_description %}All inclusive business website hosting and domain registration{% endblock %}
{% block meta_keywords %}web hosting, voip, website, hosting for website, pbx hosting, domain registration{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/marketing.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/forms.css" />
<style type="text/css">
  .form-row label { display: none; }
  .form-row textarea,
  .form-row input[type=text],
  .form-row select { width: 250px; }
  .plan-price { font-size:18px; font-weight: bolder; }
</style>
{% endblock %}
{% block content_title %}Web Hosting and Domain Registration{% endblock %}
{% block content %}
<div class="primary-left">
  <h1>Web Hosting That Means Business</h1>
  <p>Simple, no nonsense Web Hosting backed by fanatical support.  If you
  simply &quot;Need it to work&quot;, you need to give us a call.</p>
  <p>We're here to deliver the best service and support available, not
  marketing ploys.  That's why you find one simple, all-inclusive plan with
  all the features you need to empower your Internet presence</p>
  {% for plan in plan_list %}
  <h2>Everything you need for ${{ plan.monthly_price }}/mo</h2>
  {% endfor %}
  <ul class="service-features">
    <li id="icon-network">
      <h3>World Class Network</h3>
      We utilize multiple datacenters to ensure that your site performs
      great for your customers.  East Coast, West Coast, or anywhere between,
      we've got you covered.
    </li>
    <li id="icon-arrows">
      <h3>Enterprise Reliability</h3>
      We operate our own hardware and networks using only top tier equipment,
      and we guaratee it - 99.999% uptime. Gauranteed.
    </li>
    <li id="icon-support">
      <h3>Support You Can Count On</h3>
      Our California based support team is here to help 24x7 with any
      questions you may have.
    </li>
    <li id="icon-value">
      <h3>No Nonsense</h3>
      Say goodbye to marketing ploys and bait-and-switch tactics. Get
      all the features you need for one easy to understand low price
      and support by people who care about your business.
    </li>
  </ul>
  <table class="width-100">
    <caption>Features</caption>
    <tr class="row1">
      <th>Unlimited Hosting</th>
      <td>Unlimited Space, Transfer and Domains.</td>
    </tr>
    <tr class="row2">
      <th>Developer Friendly</th>
      <td>Cpanel 11 Control Panel, Top Tier Hardware</td>
    </tr>
    <tr class="row1">
      <th>Enterprise Reliability</th>
      <td>99.999% Uptime Guaranteed.</td>
    </tr>
    <tr class="row2">
      <th>24/7/365 Support</th>
      <td>Knowledgeable support thats here when you need it.</td>
    </tr>
    <tr class="row1">
      <th>Free Site Transfer</th>
      <td>We'll transfer your existing site for free.</td>
    </tr>
    <tr class="row2">
      <th>30 Day Satisfaction Guarantee</th>
      <td>If your not completely satisfied, we'll issue a complete refund.</td>
    </tr>
    <tr class="row1">
      <th>Affordable</th>
      <td><span class="plan-price">{% for plan in plan_list %}${{ plan.monthly_price }}/mo{% endfor %}</span></td>
    </tr>
  </table>
  <div id="service-cta" class="round">
    <a href="/signup/" class="sign-up right">Sign Up</a>
    <h4>Contact Us Today!</h4>
    <h1>888-271-7959</h1>
  </div>
</div>
<div class="secondary-right">
  <div id="quote-form" class="round">
    <form action="" method="post">{% csrf_token %}
    <div id="quote-top" class="round-top">
      <h2>Contact Us Today</h2>
      {% include "form_snippet.html" %}
      <br />
    </div>
    <div id="quote-bottom" class="round-bot">
      <input type="submit" value="Submit" class="submit-grn" />
    </div>
    </form>
  </div>
</div>
{% endblock %}
{% block extra_js %}
  <script src="{{ STATIC_URL }}js/jquery.addplaceholder.min.js"></script>
  <script>
    $('.add-ph').addPlaceholder();
  </script>
{% endblock %}
