{% extends "base_site.html" %}
{% block title %}Hosted VoIP PBX Systems{% endblock %}
{% block meta_description %}Reliable Business VoIP and Hosted PBX Services{% endblock %}
{% block meta_keywords %}voip, phone system, business phone, ip telephone, voip service, freeswitch{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/marketing.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/forms.css" />
<style type="text/css">
  .form-row label { display: none; }
  .form-row textarea,
  .form-row input[type=text],
  .form-row select { width: 250px; }
</style>
{% endblock %}
{% block content_title %}Hosted VoIP PBX Systems{% endblock %}
{% block content %}
<div class="primary-left">
  <h1>Customized VoIP Solutions Built for Your Needs</h1>
  <p>Finally telephony solutions that work the way your business does.
  By leveraging the power of VoIP technology we deliver hosted phone
  systems that not only give you all the features you need to get
  work done now, but save you time and money as well.</p>
  <h2>The 5Nine Solutions Difference</h2>
  We deliver turn key phone systems, not a do it yourself kit. There are
  several facors that go into a success VoIP deployment and we'll be there
  every step of the way to deliver a customized solution that allows
  you to save money and work better.
  <ul class="service-features">
    <li id="icon-phone">
      <h3>Advanced Features</h3>
      Voicemail to Email, Fax to Email, Upload your own Music on Hold,
      Virtual Receptionist, control Call Queues, and completely tailor
      call routing to your business.
    </li>
    <li id="icon-network">
      <h3>Geographic Freedom</h3>
      Simply plug the phones into any high speed Internet connection
      and go to work.  Easily connect multiple office locations around
      the country using a common phone system.
    </li>
    <li id="icon-arrows">
      <h3>Enterprise Reliability</h3>
      We understand that your phone system is the lifeblood of your business.
      We operate our own redundant network to ensure superior call quality
      and reliability.  You'll have one point of contact for all you support
      needs.
    </li>
    <li id="icon-support">
      <h3>Support You Can Count On</h3>
      Our California based support team is here to help 24x7 with any
      questions you may have.  We're always here to assist you and ensure
      your call quality and service exceed your expectations.
    </li>
    <li id="icon-value">
      <h3>Enormous Value</h3>
      Unlimited local and long distance calling and no per seat or per feature
      fees.  You pay for the system capacity, not the features. Regardless
      of your size, you can enjoy "Big Business" features for up to 70%
      less than traditional systems.
    </li>
  </ul>
  <h2>No Per Seat or Per Feature Pricing</h2>
  <p>You only pay for total system capacity, not per extension.  And as your
  business needs change, you can add or remove features such as
  conference rooms or IVR menus at no cost</p>
  <table class="width-100">
    <caption>Pricing</caption>
    <thead>
    <tr>
      {% for plan in plan_list %}
      <th>{{ plan.name }}</th>
      {% endfor %}
    </tr>
    </thead>
    <tbody>
    <tr class="row1">
      {% for plan in plan_list %}
      <td>${{ plan.monthly_price }}/month</td>
      {% endfor %}
    </tr>
    <tr class="row2">
      {% for plan in plan_list %}
      <td>Setup fees:<br />${{ plan.setup_fee }}/extension</td>
      {% endfor %}
    </tr>
    <tr class="row1">
      {% for plan in plan_list %}
      <td>{{ plan.display_data }}</td>
      {% endfor %}
    </tr>
    </tbody>
  </table>
  <div id="service-cta" class="round">
    <a href="/signup/" class="sign-up right">Sign Up</a>
    <h4>Contact Us Today!</h4>
    <h1>888-271-7959</h1>
  </div>
</div>
<div class="secondary-right">
  <div id="quote-form" class="round">
    <form action="" method="post">{% csrf_token %}
    <div id="quote-top" class="round-top">
      <h2>Request a Quote</h2>
      {% include "form_snippet.html" %}
      <br />
      <p>Once you submit your contact information,
      we'll custom tailor a solution that best fits your business.</p>
    </div>
    <div id="quote-bottom" class="round-bot">
      <input type="submit" value="Submit" class="submit-grn" />
    </div>
    </form>
  </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="{{ STATIC_URL }}js/jquery.addplaceholder.min.js"></script>
<script>
    $('.add-ph').addPlaceholder();
</script>
{% endblock %}
