{% extends "base_site.html" %}
{% block title %}Create an account{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/marketing.css" />
<style type="text/css">
div.form-row { margin-bottom: 12px; }
.form-row textarea,
.form-row input[type="text"],
.form-row input[type="password"],
.form-row select {
    width: 550px;
    padding: 2px 4px;
    border: 1px solid #4f4e4e;
}

#content .container form p { margin: 0 0 16px; }
</style>
{% endblock %}

{% block content_title %}Create an Account{% endblock %}
{% block content %}
<h1>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h1>
<div class="primary-left">
{% if not wizard.steps.prev %}
  <h1>Disclosure and Acceptance</h1>
  <p>By clicking on the "Next" button below you agree and certify to all of the following statements:</p>
  <textarea class="disclosure" readonly>1. You are over the age of legal majority and capable of entering into a legally binding agreement, on behalf of yourself or the person or entity you represent, under applicable law.

  2. You agree and give your consent that all information or records related to the establishment of a relationship between you (or your company) and 5Nine Solutions, as well as the ongoing relationship between you (or your company) and 5Nine Solutions, may be provided or made available in electronic form ("electronic records").

  3. You understand that this consent applies to, without limitation, all policies, terms and conditions governing the relationship.

  4. You understand and agree that if you do not agree and consent to this arrangement, this account signup process will be terminated.

  5. You understand and agree that if you withdraw your consent at any time during this process, or if you later withdraw your consent by providing written notice to 5Nine Solutions after a relationship has been established, then the relationship between you (or your company) and 5Nine Solutions may be subject to termination by 5Nine Solutions, in its sole discretion.

  6. You understand that you have the option to contact 5Nine Solutions to request establishing a relationship using information or records of a non-electronic form, but 5Nine Solutions has sole discretion on whether to accept or reject such requests.

  7. You understand that you will have the ability to update information that 5Nine Solutions needs to contact you electronically through your account, and you agree that you shall ensure such contact information is current at all times.

  8. You understand that you may request non-electronic copies of information applicable to your account by contacting 5Nine Solutions, but an additional fee may apply if such request is fulfilled.

  9. You understand that a computer, Internet browser, valid e-mail address, and software capable of viewing PDF documents (available for free from http://www.adobe.com/products/reader/) are required in order to access and retain the electronic records.  You represent and agree that you meet these requirements and have the ability to access and retain electronic records through an Internet browser, valid e-mail address, and PDF document viewer.

  10. You understand and agree to the following terms and policies:
a.Privacy Policy http://www.5ninesolutions.com/legal/privacy/
b.Terms of Use http://www.5ninesolutions.com/legal/terms-of-use/

  11. You understand that if you do not agree with or consent to all of the foregoing, you are not permitted to proceed with the account sign up process.</textarea>
{% endif %}
  <form action="" method="post">{% csrf_token %}
  {{ wizard.management_form }}{{ wizard.form.non_field_errors }}
  {% for field in wizard.form %}
  <div class="form-row">
    {{ field.errors }}
    {{ field.label_tag }}<span class="form-field">{{ field }}</span>
    {% if field.help_text %}<br />{{ field.help_text }}{% endif %}
  </div>
  {% endfor %}
  <div id="contact-buttons" class="round">
    <ul>
    {% if wizard.steps.prev %}
      <li><button class="back" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Back</button></li>
      {% endif %}
      {% if wizard.steps.next %}
      <li><input class="next" type="submit" value="Next"></li>
      {% else %}
      <li><input class="sign-up" type="submit" value="Sign Up"></li>
    {% endif %}
    </ul>
  </div>
  </form>
</div>
<div class="secondary-right">
  <div class="sidebar round-top">
    <h4>Contact Us Today</h4>
    <h1>888-271-7959</h1>
    <div id="contact-address">
      <h4>Mailling Address</h4>
      7111 Garden Grove Blvd<br />
      Suite 201<br />
      Garden Grove, CA 92841
    </div>
    <div id="contact-phone">
      <h4>Phone</h4>
      Toll Free 888-271-7959<br />
      Local 714-786-5356<br />
      Fax 714-786-5357<br />
    </div>
    <div id="contact-email">
      <h4>E-Mail</h4>
      <a href="mailto:info@5ninesolutions.com">info@5ninesolutions.com</a>
    </div>
  </div>
</div>
{% endblock %}
