{% extends "base_site.html" %}
{% block title %}Contact Support{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/marketing.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/forms.css" />
<style type="text/css">
.form-row label { display: none; }
.form-row textarea,
.form-row input[type=text],
.form-row select {
    width: 550px;
}
</style>
{% endblock %}
{% block content_title %}Contact Support{% endblock %}
{% block content %}
<div class="primary-left">
<h1>We are here to help!</h1>
<p>The best and quickest way to get help is by referring to or searching our <a href="/kb/">Knowledge Base</a>.
For pre-sales oriented questions, comments and feedback, please use our <a href="/contact/">contact</a> form.</p>
<h2>Support Form</h2>
<form action="" method="post">{% csrf_token %}
    {% include "form_snippet.html" %}
    <div id="contact-buttons" class="round">
      <ul>
        <li><input class="cancel" type="reset" value="Cancel" /></li>
        <li><input class="submit-grn" type="submit" value="Submit" /></li>
      </ul>
    </div>
</form>
</div>
<div class="secondary-right">
    <div class="sidebar round">
        <h3>Other ways to get in touch</h3>
        <div id="contact-phone">
            <h4>Phone:</h4>
            888-271-7959
        </div>
        <div id="contact-email">
            <h4>Email:</h4>
            <a href="mailto:support@5ninesolutions.com">support@5ninesolutions.com</a>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="{{ STATIC_URL }}js/jquery.addplaceholder.min.js"></script>
<script>$('.add-ph').addPlaceholder();</script>
{% endblock %}

