{% extends "base_site.html" %}
{% load cdr_formatting %}
{% block title %}Call Detail Records{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/portal.css" />
{% endblock %}

{% block content_title %}Call Detail Records{% endblock %}
{% block content %}
<form action="" method="post">{% csrf_token %}
  <div id="cdr-filter" class="round">
    <ul>{{ form.as_ul }}
    <input class="submit-grn right" type="submit" value="Submit" />
    </ul>
  </div>
</form>
{% if cdr_list %}
<table class="width-100">
    <caption>Calls</caption>
    <thead>
    <tr>
        <th>Start Time</th>
        <th>Length</th>
        <th>Direction</th>
        <th>Caller Location</th>
        <th>Caller Name</th>
        <th>Caller Number</th>
        <th>Called Location</th>
        <th>Called Number</th>
    </tr>
    </thead>
    <tbody>
    {% for cdr in cdr_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td>{{ cdr.start_time|date:"m-d-y, h:i A" }}</td>
        <td>{{ cdr.duration|sec2hms }}</td>
        <td>{{ cdr.call_direction }}</td>
        <td>{{ cdr.caller_location|truncatechars:15 }}</td>
        <td>{{ cdr.caller_name|truncatechars:15 }}</td>
        <td>{{ cdr.caller_number|num2tel }}</td>
        <td>{{ cdr.callee_location|truncatechars:15 }}</td>
        <td><a href="/accounts/cdrs/{{ cdr.id }}/">{{ cdr.callee_number|num2tel }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>No CDRs are available.</p>
{% endif %}
{% endblock %}
