{% extends "base_site.html" %}
{% load cdr_formatting %}

{% block title %}CDR Detail{% endblock %}

{% block content_title %}CDR Detail{% endblock %}
{% block content %}
{% if cdr %}
<table class="width-90">
  <caption>Call Info</caption>
  <tr class="row1">
    <th>Endpoint</th>
      <td>{{ cdr.get_endpoint }} [<a href="../../endpoint/{{ cdr.ep_id }}/edit">manage</a>]</td>
  </tr>
  <tr class="row1">
    <th>Direction</th>
    <td>{{ cdr.call_direction }}</td>
  </tr>
  <tr class="row2">
    <th>Start Time</th>
    <td>{{ cdr.start_time }}</td>
  </tr>
  <tr class="row1">
    <th>Answer Time</th>
    <td>{{ cdr.answer_time }}</td>
  </tr>
  <tr class="row2">
    <th>End Time</th>
    <td>{{ cdr.end_time }}</td>
  </tr>
  <tr class="row2">
    <th>Post Dial Delay</th>
    <td>{{ cdr.pdd_msec|ms2sec }}</td>
  </tr>
</table>
<br />
<table class="width-90">
  <caption>Billing</caption>
  <tr class="row1">
    <th>CNAM Lookup</th>
    <td>{{ cdr.cnam }}</td>
  </tr>
  <tr class="row2">
    <th>Fax Route</th>
    <td>{{ cdr.fax }}</td>
  </tr>
  <tr class="row1">
    <th>Billed Time</th>
    <td>{{ cdr.billedsec|sec2hms }}</td>
  </tr>
  <tr class="row2">
    <th>Charge</th>
    <td>{{ cdr.charge }}</td>
  </tr>
</table>
<br />
<table class="width-90">
  <caption>Caller</caption>
  <tr class="row1">
    <th>Name</th>
    <td>{{ cdr.caller_name }}</td>
  </tr>
  <tr class="row2">
    <th>Number</th>
    <td>{{ cdr.caller_number|num2tel }}</td>
  </tr>
  <tr class="row1">
    <th>Location</th>
    <td>{{ cdr.caller_location }}</td>
  </tr>
  <tr class="row2">
    <th>IP Address</th>
    <td>{{ cdr.caller_ip }}</td>
  </tr>
  <tr class="row1">
    <th>SDP</th>
    <td>{{ cdr.caller_sdp|crlf2html }}</td>
  </tr>
</table>
<br />
<table class="width-90">
  <caption>Callee</caption>
  <tr class="row1">
    <th>Number</th>
    <td>{{ cdr.callee_number|num2tel }}</td>
  </tr>
  <tr class="row2">
    <th>Location</th>
    <td>{{ cdr.callee_location }}</td>
  </tr>
  <tr class="row1">
    <th>SDP</th>
    <td>{{ cdr.callee_sdp|crlf2html }}</td>
  </tr>
</table>
<br />
<table class="width-90">
  <caption>SIP</caption>
  <tr class="row1">
    <th>Local Network Address</th>
    <td>{{ cdr.sip_local_network_addr }}</td>
  </tr>
  <tr class="row2">
    <th>Call-Id</th>
    <td>{{ cdr.sip_call_id }}</td>
  </tr>
  <tr class="row1">
    <th>From URI</th>
    <td>{{ cdr.sip_from_uri }}</td>
  </tr>
  <tr class="row2">
    <th>To URI</th>
    <td>{{ cdr.sip_to_uri }}</td>
  </tr>
  <tr class="row1">
    <th>Request URI</th>
    <td>{{ cdr.sip_req_uri }}</td>
  </tr>
  <tr class="row2">
    <th>Contact URI</th>
    <td>{{ cdr.sip_contact_uri }}</td>
  </tr>
  <tr class="row1">
    <th>User Agent</th>
    <td>{{ cdr.sip_user_agent }}</td>
  </tr>
  <tr class="row2">
    <th>Termination Cause</th>
    <td>{{ cdr.sip_term_status }}</td>
  </tr>
</table>
<br />
<table class="width-90">
  <caption>Status</caption>
  <tr class="row1">
    <th>Hangup Cause</th>
    <td>{{ cdr.hangup_cause }}</td>
  </tr>
  <tr class="row2">
    <th>Originate Disposition</th>
    <td>{{ cdr.originate_disposition }}</td>
  </tr>
</table>

{% else %}
    <p>Invalid CDR ID</p>
{% endif %}
{% endblock %}
