{% extends "base.html" %}

{% block title %}5Nine Solutions - System Administration{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/admin.css" />
{% endblock %}

{% block header %}
<div id="global-nav">
    <div class="container">
        <ul>
            {% if user.is_authenticated %}
            <li id="global-nav-login"><strong><a href="/accounts/logout/">Logout</a></strong></li>
            {% else %}
            <li id="global-nav-login"><strong><a href="/accounts/login/popup/" rel="facebox">Login</a></strong></li>
            {% endif %}
        </ul>
        {% if user.is_authenticated %}
        <p id="global-nav-user">Welcome,&nbsp;<a href="/admin/users/{{ user.pk }}/edit/">{{ user.first_name }}</a></p>
        {% endif %}
    </div>
</div>
<div id="local-nav">
    <div class="container">
        <a href="/" id="logo"><img src="{{ STATIC_URL }}img/5nine_logo.png" alt="5NINE" title="5Nine Solutions" /></a>
        <p>System Administration</p>
    </div>
</div>
<div style="width:100%;background:#ffffff;">
    <ul id="account-nav">
        <li>
            <a href="#">System</a>
            <ul style="display:none">
                <li class="first"><a href="/admin/billing/did-plan/">DID Plans</a></li>
                <li><a href="/admin/billing/pbx-plan/">PBX Plans</a></li>
                <li><a href="/admin/billing/hosting-plan/">Web Hosting Plans</a></li>
                <li><a href="/admin/billing/sipchannel-plan/">SIP Channel Plans</a></li>
                <li><a href="/admin/billing/other-plan/">Other Plans</a></li>
                <li><a href="/admin/system/gateway-ips/">Gateway IPs</a></li>
                <li class="last"><a href="/admin/system/routes/">PSTN Routes</a></li>
        </ul>
        </li>
        <li>
            <a href="#">Billing</a>
            <ul style="display:none">
                <li class="first"><a href="/admin/other-services/">Other Services</a></li>
                <li><a href="/admin/billing/invoices/">Invoices</a></li>
                <li><a href="/admin/billing/payments/">Payments</a></li>
                <li class="last"><a href="/admin/billing/payments/add/">Apply Payment</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Support</a>
            <ul style="display:none">
                <li class="first"><a href="/admin/kb/articles/">Knowledge Base Articles</a></li>
                <li><a href="/admin/kb/categories/">Knowledge Base Categories</a></li>
                <li class="last"><a href="#">Support Tickets</a></li>
            </ul>
        </li>
        <li>
            <a href="/admin/users/">User Accounts</a>
        </li>
        <li>
            <a href="#">Voice</a>
            <ul style="display:none">
                <li class="first"><a href="/admin/active-calls/">Active Calls</a></li>
                <li><a href="/admin/cdrs/">CDRs</a></li>
                <li><a href="/admin/dids/">DIDs</a></li>
                <li><a href="/admin/endpoint/">Endpoints</a></li>
                <li><a href="#">Addresses</a></li>
                <li class="last"><a href="/admin/pbx-accounts/">PBX Accounts</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Web</a>
            <ul style="display:none">
                <li class="first"><a href="/admin/web-servers/">Servers</a></li>
                <li><a href="/admin/domains/">Domains</a></li>
                <li class="last"><a href="/admin/hosting-accounts/">Hosting Accounts</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Tools &amp; Info</a>
            <ul style="display:none">
                <li class="first"><a href="/admin/testimonials/">Testimonials</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="/admin/providers/">VoIP Providers</a></li>
                <li class="last"><a href="#">Company Info</a></li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}
{% block pagination %}{% if is_paginated %}{% include "pagination_snippet.html" %}{% endif %}{% endblock %}
{% block footer %}{% endblock %}
{% block pagination_js %}{% if is_paginated %}{% include "pagination_js.html" %}{% endif %}{% endblock %}
