<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% block title %}{% endblock %} - 5Nine Solutions</title>
  <meta name="description" content="{% block meta_description %}Wholesale VoIP, IP PBX Services, Website Hosting, and SIP Consulting{% endblock %}" />
  <meta name="keywords" content="{% block meta_keywords %}Wholesale VoIP, voip origination, voip termination, 5Nine Solutions, sip service provider, carrier-class, DID provisioning, SIP handoff, SIP trunking, SIP termination, asterisk billing solution, voip billing platform, asterisk termination, freeswitch, kamailio{% endblock %}" />
  <meta name="google-site-verification" content="mV3Rw_PBHkXlvVFEsP3HAASu1oEGzwQ0kLyMQgtw2ak" />

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <!--<meta name="viewport" content="width=device-width" />-->
  <link rel="icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/type.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/facebox.css" />
  {% block extrastyle %}{% endblock %}
  <!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{{ STATIC_URL }}css/ie.css{% endblock %}" /><![endif]-->
  {% block extrahead %}{% endblock %}
</head>
<body>
  <div id="big-wrap">
    <div id="wrapper">
      <!-- Header -->
      <header>
      <div id="header">
      {% block header %}
        <div id="global-nav">
          <div class="container">
            <ul>
              <li><a href="/about/">About</a></li>
              <li><a href="/support/">Support</a></li>
              {% if user.is_authenticated %}
              <li id="global-nav-login"><strong><a href="/accounts/logout/">Logout</a></strong></li>
              {% else %}
              <li id="global-nav-login"><strong><a href="/accounts/login/popup/" data-facebox="true">Login</a></strong></li>
              {% endif %}
            </ul>
            {% if user.is_authenticated %}
            <p id="global-nav-user">Welcome,&nbsp;<a href="/accounts/profile/">{{ user.first_name }}</a></p>
            {% endif %}
          </div>
        </div>
      <div id="local-nav">
        <div class="container">
          <a href="/" id="logo"><img src="{{ STATIC_URL }}img/5nine_logo.png" alt="5NINE" title="5Nine Solutions" /></a>
          {% block account-nav %}{% endblock %}
        </div>
      </div>
      {% endblock %}
      </div>
      </header>
      <!-- END Header -->

      <!-- Content -->
      {% block global_content %}
      <div id="content" role="main">
        <div class="content-title">
          {% block pretitle %}{% endblock %}
          {% block content_title %}{% endblock %}
        </div>
      <div class="container round">
        {% block sub-nav %}{% endblock %}
        {% block messages %}{% include "message_snippet.html" %}{% endblock %}
        {% block content %}{% endblock %}
        {% block pagination %}{% endblock %}
      </div>
    </div>
    {% endblock %}
    <!-- END Content -->
    </div>
    </div>
  <div id="push"></div>
  <footer>
  <div id="footer">
    {% block footer %}
    <div class="container">
      <p class="copywrite">&copy; {% now "Y" %} &middot; <a href="/"> 5Nine Solutions </a></p>
      <ul>
        <li><a href="/about/">About</a></li>
        <li><a href="/services/">Services</a></li>
        <li><a href="/support/">Support</a></li>
        <li><a href="/legal/terms-of-use/">Terms</a></li>
        {% if user.is_authenticated %}
        <li><a href="/accounts/profile/">Profile</a></li>
        <li><a href="/accounts/logout/">Logout</a></li>
        {% else %}
        <li><a href="/signup/">Signup</a></li>
        <li><a href="/accounts/login/">Login</a></li>
        {% endif %}
      </ul>
    </div>
  {% endblock %}
  </div>
  </footer>

  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"><\/script>')</script>

  <script src="{{ STATIC_URL }}js/facebox.min.js"></script>
  <script src="{{ STATIC_URL }}js/menu.min.js"></script>
  <script>
    jQuery(document).ready(function($) {
      $('a[data-facebox=true]').facebox();
      $('#account-nav').menu();
    });
  </script>
  {% block pagination_js %}{% endblock %}
  {% block extra_js %}{% endblock %}
  {% if not user.is_authenticated %}
  <script type="text/javascript">
    var _gaq = [['_setAccount', 'UA-13249558-1'], ['_trackPageview']];
    (function(d, t) {
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
      g.async = true;
      g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g, s);
    }(document, 'script'));
  </script>
  {% endif %}
</body>
</html>
