{% extends "base.html" %}
{% block title %}Business Hosting that Works{% endblock %}
{% block account-nav %}
{% if user.is_authenticated %}
<ul id="account-nav">
    <li><a href="/accounts/profile/">Dashboard</a></li>
    <li>
        <a href="#">Account</a>
        <ul style="display:none">
            <li class="first"><a href="/accounts/cdrs/">Call Detail Records</a></li>
            <li><a href="/accounts/billing/history/">Account History</a></li>
            <li><a href="/accounts/billing/invoices/">View Invoices</a></li>
            <li><a href="/accounts/billing/payment/">Make Payment</a></li>
            <li class="last"><a href="/accounts/billing/stored-cards/">Manage Stored Cards</a></li>
        </ul>
    </li>
    <li>
        <a href="#">Voice</a>
        <ul style="display:none">
            <li class="first"><a href="/accounts/active-calls/">Active Calls</a></li>
            <li><a href="/accounts/dids/">Numbers</a></li>
            <li><a href="/accounts/endpoint/">Endpoints</a></li>
            <li><a href="/accounts/service-location">Locations</a></li>
            <li><a href="/accounts/interconnection/">Interconnection</a></li>
            <li class="last"><a href="/accounts/pbx/">VoIP PBX Accounts</a></li>
        </ul>
    </li>
    <li>
        <a href="#">Services</a>
        <ul style="display:none">
            <li class="first"><a href="/fax/received/">Fax Server</a>
            <li><a href="/accounts/web-hosting/">Hosting Accounts</a></li>
            <li class="last"><a href="#">Domains</a></li>
        </ul>
    </li>
    <li><a href="/accounts/preferences/">Preferences</a></li>

</ul>
{% else %}
<ul id="account-nav">
    <li>
      <a href="#">Services</a>
      <ul style="display:none">
        <li class="first"><a href="/voip-pbx-hosting/">Business VoIP</a></li>
        <li class="last"><a href="/web-hosting/">Website Hosting</a></li>
      </ul>
    </li>
    <li><a href="/contact/">Contact</a></li>
    <li><a href="/signup/">Sign Up</a></li>
</ul>
{% endif %}
{% endblock %}
{% block pagination %}{% if is_paginated %}{% include "pagination_snippet.html" %}{% endif %}{% endblock %}
{% block pagination_js %}{% if is_paginated %}{% include "pagination_js.html" %}{% endif %}{% endblock %}
