{{ form.non_field_errors }}
{% for field in form %}
    <div class="form-row">
        {{ field.errors }}
        {{ field.label_tag }}<span class="form-field">{{ field }}</span>
        {% if field.help_text %}<br />{{ field.help_text }}{% endif %}
    </div>
{% endfor %}

