<h2>Login to your account</h2>
{% if form.errors %}<p>Your username and password didn't match. Please try again.</p>{% endif %}
<form id="login-form" method="post" action="/accounts/login/">
    {% csrf_token %}
    <p class="login-field">
        {{ form.username.label_tag }}
        {{ form.username }}
    </p>
    <p class="login-field">
        {{ form.password.label_tag }}
        {{ form.password }}
    </p>
<input type="hidden" name="next" value="{{ next }}" />
<ul>
    <li>
        <input type="submit" value="Login" id="btn-login" />
    </li>
    <li>
        <span><a href="/accounts/password-reset/">Forgot Password?</a></span>
    </li>
</ul>
</form>
