<div class="pagination">
  {% if page_obj.has_previous %}<a href="?page={{ page_obj.previous_page_number }}" class="page-previous"><span>&laquo; Previous</span></a>{% endif %}
  <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
  {% if page_obj.has_next %}<a href="?page={{ page_obj.next_page_number }}" class="page-next"><span>Next &raquo;</span></a>{% endif %}
</div>
