{% extends "base_site.html" %}
{% block title %}Privacy Policy{% endblock %}
{% block meta_description %}5Nine Solutions Privacy Policy{% endblock %}
{% block content_title %}Privacy Policy {% endblock %}
{% block content %}
<h1>Privacy Policy</h1>
<p>
This privacy notice discloses the privacy practices for <a href="https://www.5ninesolutions.com/">www.5ninsolutions.com</a>. This privacy notice applies solely to information collected by this 5Nine Solutions website. It will notify you of the following:<br />
<ul>
  <li>What personally identifiable information is collected from you through the 5Nine Solutions, LLC. website, how it is used and with whom it may be shared.</li>
  <li>What choices are available to you regarding the use of your data.</li>
  <li>The security procedures in place to protect the misuse of your information.</li>
  <li>How you can correct any inaccuracies in the information.</li>
</ul>
</p>

<p><strong>Information Collection, Use, and Sharing</strong><br />
5Nine Solutions, LLC. are the sole owners of the information collected on this site. 5Nine Solutions, LLC. only has access to/collect information that you voluntarily give us via email or other direct contact from you.<br />
5Nine Solutions, LLC. will not sell or rent this information to anyone.<br />
5Nine Solutions, LLC. will use your information to respond to you, regarding the reason you contacted us.<br />
5Nine Solutions, LLC. will not share your information with any third party outside of our organization, other than as necessary to fulfill your request.<br />
Unless you ask us not to, 5Nine Solutions, LLC. may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.</p>
<p><strong>Your Access to and Control Over Information</strong><br />
You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address or phone number given on our 5Nine Solutions, LLC. website:
<ul>
  <li>See what data 5Nine Solutions, LLC. Has collected about you, if any.</li>
  <li>Change/correct any data 5Nine Solutions, LLC. has about you.</li>
  <li>Have us delete any data 5Nine Solutions, LLC. has about you.</li>
  <li>Express any concern you have about our use of your data.</li>
</ul></p>

<p><strong>Security</strong><br />
5Nine Solutions, LLC. take precautions to protect your information. When you submit sensitive information via the 5Nine Solutions, LLC. website, your information is protected both online and offline.<br />
Wherever 5Nine Solutions, LLC. collects sensitive information (such as credit card data), that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a closed lock icon at the bottom of your 5Nine Solutions, LLC. browser, or looking for "https" at the beginning of the address of the 5Nine Solutions, LLC. page.<br />
While 5Nine Solutions, LLC. uses encryption to protect sensitive information transmitted online, 5Nine Solutions, LLC. will also protect your information offline. Only employees who need the information to perform a specific job (for example, billing or customer service) are granted access to personally identifiable information. The computers/servers in which 5Nine Solutions, LLC. stores personally identifiable information are kept in a secure PCI-compliant environment.<br />
If you feel that 5Nine Solutions, LLC. are not abiding by this privacy policy, you should contact us immediately via telephone at 888-271-7959 or via email to <a href="mailto:support@5ninesolutions.com">support@5ninesolutions.com</a></p>
{% endblock %}
