{% extends "base_site.html" %}

{% block content_title %}Terms of Service{% endblock %}
{% block content %}
<p><strong>5Nine Solutions LLC<br />General Terms &amp; Conditions</strong></p><br />
    <p><strong>5Nine Solutions LLC General Terms and Conditions of Service</strong><br />BY SIGNING UP FOR AND/OR OTHERWISE ACCESSING ANY OF THE SERVICES OR PRODUCTS OFFERED BY 5NINE SOLUTIONS LLC YOU AGREE TO BE BOUND BY THE TERMS OF THIS AGREEMENT. THESE TERMS &amp; CONDITIONS SUPERSEDE ALL EARLIER VERSIONS AND REQUIRE MANDATORY ARBITATION OF DISPUTES. Please read these terms and conditions carefully, as they describe your legal rights and obligations. This agreement shall become effective as of the date of (1) your electronic signature on or acceptance of this agreement, (2) the activation of your account or (3) your receipt of an e-mail from 5Nine Solutions confirming your order, whichever happens first.</p><br />
    <p><strong>1. DEFINITIONS.</strong><br />
    For the purposes of this Agreement:</p><br />
    <p><strong>1.1.</strong><br>
    &quot;5Nine&rsquo;s Equipment&quot; shall mean computer and telecommunications device, Internet access and/or transmission rights owned, operated, and/or maintained by 5Nine and/or 5Nines's affiliates, agents, or assigns which provide the 5Nine Services.</p><br />
    <p><strong>1.2.</strong><br>
    &quot;5Nine, &quot;us,&quot; &quot;we,&quot; &quot;our&quot; and grammatical variants thereof shall collectively refer to 5Nine Solutions LLC., a limited liability corporation organized and existing under the laws of the State of California, United States of America, located at 7111 Garden Grove Blvd, Suite 201, Garden Grove, CA, U.S.A. and its assigns and successors in interest.</p><br />
    <p><strong>1.3.</strong><br>
    <p>&quot;5Nine Services&quot; shall mean the products and services provided by 5Nine and/or 5Nine's affiliates, agents, or assigns at any given time, including but not limited to web hosting, e-mail, domain registration, and any associated support services, which services may be changed, amended, and/or otherwise altered at any time in 5Nine's sole discretion.</p><br />
    <p><strong>1.4.</strong><br>
    &quot;Bandwidth&quot; shall refer to the rate of data transmission in bits per second using 5Nine&rsquo;s Equipment.</p><br />
    <p><strong>1.5.</strong><br>
    &quot;Content&quot; shall mean the downloadable files which are interpreted by a client web browser for display with or without plug-ins.</p><br />
    <p><strong>1.6.</strong><br>
    &quot;Customer Service&quot; shall refer to communication from us to you dealing with problems or questions relating to services provided by us to you.</p><br />
    <p><strong>1.7.</strong><br>
    &quot;Fee&quot; shall mean monies and other consideration you are obligated to pay to 5Nine Solutions for the right to use the 5Nine Services and Bandwidth subject to the terms and conditions of this Agreement and of the particular 5Nine Services for which you have registered, as outlined on the then-current schedule of fees.</p><br />
    <p><strong>1.8.</strong><br>
    &quot;Fee Schedule&quot; shall mean the fees for the 5Nine Services as published on the 5Nine Solutions website, which may be modified at any time in 5Nine&rsquo;s sole discretion pursuant to the provisions of 18.1.</p><br />
    <p><strong>1.9.</strong><br>
    &quot;International Customers&quot; shall mean customers residing in or accessing the 5Nine Services from outside of the United States.</p><br />
    <p><strong>1.10.</strong><br>
    &quot;Laws&quot; shall mean the laws, statutes, and regulations then in effect of the United States of America and its various states and dependencies as well as the laws of Your country of residence or the country in which you use or access the 5Nine Services and the laws of any provinces, states or dependencies thereof.</p><br />
    <p><strong>1.11.</strong><br>
    &quot;Parties&quot; shall collectively refer to 5Nine and you.</p><br />
    <p><strong>1.12.</strong><br>
    &quot;Payment Account&quot; shall refer to the credit card account provided by You upon registration to pay for Your Services. 5Nine may add, delete, or modify the methods by which customers can pay for the 5Nine Services at any time without prior notice, in its sole discretion.</p><br />
    <p><strong>1.13.</strong><br>
    &quot;Suspend&quot; or &quot;Suspension&quot; shall include the disabling of, releasing of, disabling of, and/or placing of a registrar lock on your domain name and the cessation of transmission of data to or from Your Web Site or via Your Services.</p><br />
    <p><strong>1.14.</strong><br>
    &quot;Technical Support&quot; shall refer to communications from us to you dealing with problems or questions relating to technical matters involving software or services provided by us to you.</p><br />
    <p><strong>1.15.</strong><br>
    &quot;Web Site Space&quot; shall mean a quantity of computer memory allocation, as outlined in the program description for Your Services, generally located on one or more computer storage devices and measured in units of megabytes (MBs) wherein data comprising Your Web Site is stored and is accessible by 5Nine&rsquo;s web server equipment.</p><br />
    <p><strong>1.16.</strong><br>
    &quot;You&quot;, &quot;your&quot; and grammatical variants thereof shall mean you, any other entity which has an ownership or other beneficial interest in you, or any other entity in which you have an ownership or other beneficial interest.</p><br />
    <p><strong>1.17.</strong><br>
    &quot;Your Data&quot; shall mean any data, including but not limited to advertisements, documents, e-mails, images, movies, web pages, or other Content, related to your use of the 5Nine Services and stored on or transmitted by the 5Nine Equipment.</p><br />
    <p><strong>1.18.</strong><br>
    &quot;Your Web Site&quot; shall mean data transmittable via the Internet by 5Nine which is stored in your Web Site Space.</p><br />
    <p><strong>1.19.</strong><br>
    &quot;Your Services&quot; shall mean the specific 5Nine Services for which you have contracted, subject to the limitations and specifications of the particular service effective as of the date of contract and to the fees for those 5Nine Services pursuant to the current Fee Schedule.</p><br />
    <p><strong>2 FEES; PAYMENT OF FEES.</strong></p><br />
    <p><strong>2.1.</strong><br>
    Certain 5Nine Services are subject to set-up, service, and domain service fees, pursuant to the Fee Schedule, and by registering for such 5Nine Services you authorize 5Nine Solutions to debit your Payment Account for any and all such fees.</p><br />
    <p><strong>2.2.</strong><br>
    The Fee is due monthly, in advance of the provision of services, not later than the first of that month. In the event that 5Nine Solutions determines that the services of a collection agency are necessary or appropriate to collect amounts due under this paragraph, which determination shall be made in 5Nine Solutions' sole and unfettered discretion, any and all collection agency fees and other costs of collection shall be added to any amounts due under this provision.</p><br />
    <p><strong>2.3.</strong><br>
    <p>All Fees must be paid in United States Dollars in advance of the provision of services. 5Nine Solutions will charge the monthly fee and any additional fees to the Payment Account unless specifically provided otherwise. You also agree that 5Nine Solutions may automatically debit your Payment Account, without further authorization from you, for any renewal term, additional services, and any fees or expenses applicable to Your Services or Your Website, including but not limited to fees for excessive bandwidth use or other surcharges for services in excess of those included within Your Services or Your Web Site. If payment in full is not received by 5Nine Solutions from the provider of your Payment Account or its agents, you agree to pay all amounts due from you for Your Services upon demand by 5Nine Solutions.</p><br />
    <p><strong>2.4.</strong></p>
    <p>5Nine Solutions may offer subsequent promotional rates or special offers, the terms of which may or may not be more favorable than the terms and conditions for Your Services. Any such promotions or modifications shall not effect your obligations under this Agreement. Promotional fees may be subject to additional terms and conditions which, to the extent they conflict with the terms of this Agreement, shall govern. Promotional fees and special offers may not be combined.</p><br />
    <p><strong>2.5.</strong></p>
    <p>Each of 5Nine's hosting plans carries a 30-day unconditional money back guarantee. If you are not completely satisfied with our services or support within the first 30 days, you will be given a full refund of the fees paid in advance (excluding setup fees) upon plan cancellation. The following services do not qualify for the 30 Day Money Back Guarantee: additional items and services; domain name registration; and overage fees.</p>
    <br>
    <p><strong>2.6.</strong></p>
    <p>Customers have 30 business days from the date of an invoice or charge to dispute that invoice or charge; after that time the customer will be deemed to have waived any objections to that invoice or charge. Refunds are only available in accordance with the 30 Day Money Back Guarantee. Refunds will be provided in the same payment method of the original payment. There are no refunds offered or promised after 30 days.</p>
    <br>
    <p><strong>2.7.</strong></p>
    <p>5Nine Solutions has a zero tolerance policy for chargebacks. Any customer who disputes a credit card payment is subject to a fine, suspension and account termination at 5Nine Solutions's discretion. A charge of $25.00 per chargeback will be assessed to all accounts that receive a chargeback.</p>
    <br>
    <p><strong>2.8.</strong></p>
    <p>5Nine Solutions offers a service uptime guarantee for the Services of 99.999% (&quot;Service Uptime&quot;) of available time. If 5Nine Solutions fails to maintain this level of service availability, You may contact 5Nine Solutions and request a credit of 10% of Your monthly hosting fee from 5Nine Solutions for that month. The credit may be used only for the purchase of further products and services from 5Nine Solutions, and is exclusive of any applicable taxes. The credit does not apply to service interruptions caused by: (i) periodic scheduled maintenance or repairs 5Nine Solutions may undertake from time to time; (ii) errors caused by You from custom scripting or coding; (iii) outages that do not affect the appearance of the web site but merely affect access to the web site such as FTP and email; (iv) causes beyond the control of 5Nine Solutions or that are not reasonably foreseeable by 5Nine Solutions ; and (v) outages related to the reliability of certain programming environments.</p>
    <p>Total Service Uptime shall be solely determined by 5Nine Solutions and shall be calculated on a monthly basis.</p>
    <br />
    <p><strong>2.9.</strong></p>
    <p>You shall pay all costs of collection, including reasonable attorney's fees and costs, in the event any invoice requires collection efforts. All accounts referred to a collection agency shall be subject to an additional fee of $19.95, which must be paid in full before the account is reactivated.</p>
    <br>
    <p><strong>2.10.</strong></p>
    <p>International Customers bear the risk of currency fluctuations and any fees or taxes associated with the conversation of foreign currencies into United States Dollars. Certain 5Nine Solutions Services will not be available to International Customers until 5Nine Solutions is able to receive satisfactory confirmation from such customer's Payment Account provider, in 5Nine Solutions' sole discretion, that the funds will be available for debit from the International Customer's account. Orders from International Customers will not be accepted unless the country provided in the contact information matches that on file for the Payment Account.</p>
    <br>
    <p><strong>2.11.</strong></p>
    <p>Upon cancellation of this Agreement you will receive a prorated refund of any pre-paid, refundable fees for the remainder of any term. Fees for certain services, including but not limited to domain name registration and maintenance, set up fees, shipping and handling, and SSL certificate fees are not refundable unless provided otherwise by applicable local law. 5Nine Solutions may, in its sole discretion, refund other amounts as it deems necessary or advisable.</p>
    <br>
    <p><strong>3.1. WEB HOSTING SERVICES</strong></p>
    <br>
    <p><strong>3.1.1.</strong></p>
    <p>5Nine Solutions shall provide to you a non-transferable, revocable, non-sublicensable, non exclusive and limited license to use the amount of Web Site Space allocated to Your Services for your non-exclusive use for the exclusive purpose of storing Your Web Site data and disseminating said data via the Internet through the use of 5Nine Solutions&rsquo; Equipment for purposes consistent with this Agreement. 5Nine Solutions reserves the right to change, amend and/or otherwise alter the services provided with equivalent or otherwise equal services without prior notice to you. The specifics of any particular offer are contained within the offer itself as published on the 5Nine Solutions website at the time you create your account and remain in effect throughout the term of your agreement. The specifics of all current offers are located within the 5Nine Solutions Website located at http://www.5ninesolutions.com. Web Hosting Services shall be defined as server space and data transfer allowances for the purposes of displaying a business or personal website.</p>
    <br>
    <p><strong>3.1.2.</strong></p>
    <p>5Nine Solutions, either directly or through its assignee or licensee, shall provide Customer Service relating to Your Web Site consisting of replying to customer questions or complaints regarding services provided by us to you relating to Your Web Site. 5Nine is not obligated to provide any Customer Service except as specified in this Section 2. Any and all requests for additional Customer Service may be refused by 5Nine with or without reason. Any additional Customer Service which 5Nine may subsequently agree to provide to you shall be at 5Nine&rsquo;s sole discretion and once commenced, may be terminated at any time by 5Nine Solutions without notice to you and without any liability to 5Nine Solutions. Notwithstanding the foregoing, 5Nine Solutions at its sole discretion may at any time alter or cease providing the Customer Service which it has agreed to provide to you relating to Your Web Site pursuant to this Agreement without any liability to 5Nine Solutions.</p>
    <br>
    <p><strong>3.1.3.</strong></p>
    <p>5Nine Solutions, either directly or through its assignee or licensee, shall provide Technical Support relating to Your Web Site. Any and all requests for Technical Support may be refused by 5Nine Solutions with or without reason, in its sole discretion. Any Technical Support which 5Nine may subsequently agree to provide to you shall be at 5Nine&rsquo;s sole discretion and once commenced, may be terminated at any time by 5Nine without notice to you and without any liability to 5Nine.</p>
    <br>
    <p><strong>3.1.4.</strong></p>
    <p>All use of Web Site Space and provision of services to you by 5Nine shall be subject to all terms and conditions set forth herein. You may not attempt to expand or alter these rights or 5Nine&rsquo;s services by entering into multiple agreements.</p>
    <br>
    <p><strong>3.1.5.</strong></p>
    <p>Unless provided otherwise in the specifications for your Services, Bandwidth use, including but not limited to data retrieval from your Web Site, e-mail traffic, and downloads, shall not exceed six gigabytes per month. Your combined mailbox use per account shall not exceed five gigabytes per month. You are responsible for monitoring your Bandwidth and mailbox use, and agree to check your e-mail and download or delete your e-mail on a regular basis in order to ensure compliance with this paragraph. Should you exceed your mailbox use limits 5Nine may return or reject any and all e-mails sent to you to the originating sender without liability to you. You agree that 5Nine may debit the Payment Account for usage in excess of permitted amounts at the rates set forth in the then-current Fee Schedule.</p>
    <br>
    <p><strong>3.1.6. </strong></p>
    <p>Some 5Nine Services may not be available to International Customers, and 5Nine reserves the right to alter, amend, or discontinue the provision of some or all of the 5Nine Services to International Customers in a particular market at any time in 5Nine's sole discretion.</p>
    <br>
    <p><strong>3.1.7.</strong></p>
    <p>5Nine may suspend performance under or terminate this Agreement, cease transmission of data associated with your domain name immediately and without notice, permanently remove Your Data from the 5Nine Equipment, and take any other actions it deems necessary, in its sole discretion, immediately and without notice, to comply with the relevant Laws if it is informed or otherwise believes, in its sole discretion, that Your Web Site violates the intellectual property rights of any third party or is otherwise the subject of a dispute. As more completely set forth in Sections 5, 6, and 9, you waive any and all claims you may have, now and forever, against 5Nine relating to the content, use, and operation of Your Web Site and agree to indemnify and hold harmless 5Nine from and against any such claims.</p>
    <br>
    <p><strong>3.1.8.</strong></p>
    <p>You are responsible for backing up Your Data on your own computer. 5Nine does not warrant or otherwise guarantee that it will back up your data or that data which has been backed up can be retrieved, and will not be responsible for any archiving or backup of Your Data. If any of Your Data is damaged, deleted, lost or corrupted in any way, or becomes otherwise unavailable due to termination or suspension of your account pursuant to this Agreement, 5Nine will have no obligation or liability to you.</p>
    <br>
    <p><strong>3.2. DOMAIN REGISTRATION AND OTHER SERVICES</strong></p>
    <br>
    <p><strong>3.2.1.</strong></p>
    <p>Domain Registration. At Customer's request, 5Nine may also acquire a Second-Level Domain Name (&quot;Domain Name&quot;), on behalf of Customer. 5Nine is an authorized domain name reseller of and utilizes Enom for all domain registration services. Your purchase of domain name registration services is specifically subject to your agreement to the terms of this agreement and also the ENOM DOMAIN REGISTRATION AGREEMENT which is incorporated fully into this agreement and made available to you at this link.</p>
    <br>
    <p><strong>3.2.2.</strong></p>
    <p>5Nine will not own or otherwise control any domain name registered on your behalf under this paragraph. 5Nine provides this service as a convenience to you only and you hereby waive any and all claims which you may have, or which may later arise, against 5Nine for any and all damages, losses, claims or expenses arising out of or related to the acquisition, registration and/or use of the Domain Name. You hereby agree to pay any costs incurred by 5Nine to register and/or maintain the Domain Name on your behalf by 5Nine under the payment provisions of this agreement elsewhere herein.</p>
    <br>
    <p><strong>3.2.3.</strong></p>
    <p>You acknowledge and agree that 5Nine or its agents, assignees or licensees may associate any data of any kind, in 5Nine's sole discretion, with the Domain Name registered in association with Your Web Site or any URL incorporating said Domain Name until you replace such data with Your Web Site, at such times as Your Web Site is no longer available, and upon termination for any reason, for as long as 5Nine or 5Nine's agent, assignee or licensee continue to be listed as the hosting entity with the domain name registry used to register such Domain Name. This paragraph shall apply to any and all web pages generated by 5Nine or its affiliates, including but not limited to 404 error pages.</p>
    <p><strong>3.2.4.</strong></p>
    <p>You represent and warrant that your domain name does not infringe the copyright, trademark, or any other intellectual property rights of any person or company and that your domain name is otherwise in compliance with the terms of this agreement, in< particular the provisions of Section 7.</p>
    <br>
    <p><strong>3.2.5.</strong></p>
    <p>You shall inform 5Nine of any claim or potential claim against your domain name, including but not limited to the initiation of a dispute under the UDRP, within five days of notification of same. Should you lose your right to use a domain name which is used in connection with the 5Nine Services, whether through expiration of the domain name, judicial decree, administrative decisions of the UDRP or otherwise, you agree to inform 5Nine immediately of the party to whom the domain name is to be transferred and you authorize 5Nine to take any and all action necessary to effect such transfer.</p>
    <br>
    <p><strong>3.2.6.</strong></p>
    <p>The Registered Name Holder shall provide to 5Nine accurate and reliable contact details and promptly correct and update them during the term of the Registered Name registration, including: the full name, postal address, e-mail address, voice telephone number, and fax number if available of the Registered Name Holder; name of authorized person for contact purposes in the case of an Registered Name Holder that is an organization, association, or corporation.</p>
    <br>
    <p><strong>3.2.7.</strong></p>
    <p>A Registered Name Holder's willful provision of inaccurate or unreliable information, its willful failure promptly to update information provided to 5Nine, or its failure to respond for over fifteen calendar days to inquiries by 5Nine concerning the accuracy of contact details associated with the Registered Name Holder's registration shall constitute a material breach of the Registered Name Holder-registrar contract and be a basis for cancellation of the Registered Name registration.</p>
    <br>
    <p><strong>3.2.8.</strong></p>
    <p>Any Registered Name Holder that intends to license use of a domain name to a third party is nonetheless the Registered Name Holder of record and is responsible for providing its own full contact information and for providing and updating accurate technical and administrative contact information adequate to facilitate timely resolution of any problems that arise in connection with the Registered Name. A Registered Name Holder licensing use of a Registered Name according to this provision shall accept liability for harm caused by wrongful use of the Registered Name, unless it promptly discloses the identity of the licensee to a party providing the Registered Name Holder reasonable evidence of actionable harm.</p>
    <br>
    <p><strong>3.2.9.</strong></p>
    <p>5Nine will accept the transfer of domain names from other registrars, provided however, that you will be required to pay for an initial year of registration fees upon transfer. Domain names which have been prepaid for a period of more than one year but with fewer than nine years remaining may also be transferred, subject to the payment of an initial year of registration fees. An additional year will be added on to the remaining term of any transferred domain. Domain names with more than nine years remaining on the registration period may not be transferred. Upon the expiration of the one-year extension you will be charged an annual renewal fee for any subsequent renewal period. By requesting the transfer of your domain name you authorize 5Nine Solutions to debit your Payment Account for the one-year registration fee and any related fees or charges.</p>
    <br>
    <br>
    <p><strong>4. ACCEPTABLE USE</strong></p>
    <br>
    <p><strong>4.1.</strong></p>
    <p>5Nine servers may be used for lawful purposes only. Transmission, storage, or distribution of any information, data, or material in violation of any applicable law or regulation, or that may directly facilitate the violation of any particular law or regulation is prohibited. This includes, but is not limited to: copyrighted material; trademarks; trade secrets or other intellectual property rights used without proper authorization; material that is obscene, defamatory, constitutes an illegal threat, or violates export control laws. Additionally, in purchasing 5Nine services, all 5Nine customers certify that they and/or the organization they represent in procuring services from 5Nine are not, nor have been designated, a suspected terrorist as defined in Executive Order 13224; are not owned or controlled by a 'suspected terrorist' as defined in Executive Order 13224; and are not on, are not a member of, related to, associated with, or controlled by any organizations on the list contained in the Annex to Executive Order 13224 and all updates thereto.</p>
    <br>
    <p><strong>4.2.</strong></p>
    <p>Sending unsolicited bulk and/or commercial messages over the Internet (known as &quot;spamming&quot;) is prohibited, regardless of whether or not it overloads a server or disrupts service to 5Nine's customers. The term &quot;spamming&quot; also includes, but is not limited to, maintaining an open SMTP policy, engaging in spamming using the service of another ISP or IPP and referencing in the spam a Web site hosted on a 5Nine server, and selling or distributing software (on a Web site residing on a 5Nine server) that facilitates spamming. Violators will be assessed a minimum fine of US$200 and will face immediate suspension. 5Nine reserves the right to determine, in its sole and absolute discretion, what constitutes a violation of this provision.</p>
    <br>
    <p><strong>4.3.</strong></p>
    <p>Violations of system or network security are prohibited and may result in criminal and civil liability. Examples of system or network security violations include, without limitation the following: unauthorized access to or use of data, systems or networks, including any attempt to probe, scan or test the vulnerability of a system or network or to breach security or authentication measures without express authorization of the owner of the system or network; interference with service to any user, host or network including, without limitation, mail bombing, flooding, deliberate attempts to overload a system and broadcast attacks; forging of any TCP-IP packet header or any part of the header information in an email or a newsgroup posting.</p>
    <br>
    <p><strong>4.4.</strong></p>
    <p>Use of 5Nine's services or equipment for creating or sending Internet viruses, worms or Trojan horses, or for pinging, flooding or mail bombing, or engaging in denial of service attacks is prohibited. It is also prohibited for any customer to engage in other activity that is intended to disrupt or interfere with, or that results in the disruption of or interference with, the ability of others to effectively use 5Nine's services and equipment (or any connected network, system, service or equipment) or conduct their business over the Internet.</p>
    <br>
    <p><strong>4.5.</strong></p>
    <p>Any Web site that uses a high amount of server resources (such as, but not limited to, CPU time, memory usage, and network resources) will be given the option to either pay additional fees (which will depend on the resources required), reduce the resources used to an acceptable level, or upgrade its service to a Virtual Server plan. 5Nine will be the sole arbiter of what is considered to be a high server usage level. All Web Hosting and Ecommerce accounts come with a limit of 5,000 files per account. Each block of 5,000 files after the initial 5,000 will incur an additional charge of US$9.95/month. Any Web Hosting and Ecommerce account deemed to be adversely affecting server performance or network integrity will be shut down without prior notice.</p>
    <br>
    <p><strong>4.6.</strong></p>
    <p>Any scripts that pose a potential security risk or are deemed to be adversely affecting server performance or network integrity will be shut down or will be automatically removed without prior notice. 5Nine does not permit CGI script sharing with domains not hosted by 5Nine or any scripts that may be abused for UCE purposes.</p>
    <br>
    <p><strong>4.7.</strong></p>
    <p>5Nine does not allow Web Hosting and Ecommerce customers to install their own chat rooms. Chat rooms tend to require significant system resources and therefore cannot be permitted as an account option.</p>
    <br>
    <p><strong>4.8.</strong></p>
    <p>5Nine may allow programs to run in the background. These programs will be considered on an individual basis and Web Hosting and Ecommerce customers will incur extra charges based on system resources used and operational maintenance needed. If you wish to run background programs please contact 5Nine at support@5ninesolutions.com so that we can arrange set-up.</p>
    <br>
    <p><strong>4.9.</strong></p>
    <p>5Nine does not allow IRC or IRC bots to be operated by Web Hosting and Ecommerce customers.</p>
    <br>
    <p><strong>4.10.</strong></p>
    <p>5Nine's Web Hosting and Ecommerce accounts are not configured for the purposes of distributing software and/or multimedia products. If you wish to distribute software and/or multimedia files, please contact sales@5ninesolutions.com to make special arrangements.</p>
    <br>
    <p><strong>4.11.</strong></p>
    <p>Multimedia files are defined as any graphics, audio, and video files. 5Nine Web Hosting and Ecommerce accounts are not to be used for the purposes of distributing and storing unusual amounts of multimedia files. Any Web site whose disk space usage for storing multimedia files exceeds 70% of its total usage, in terms of total size or number of files, will be considered to be using an unusual amount of multimedia files</p>
    <br>
    <p><strong>4.12.</strong></p>
    <p>Any database stored on 5Nine's Web Hosting and Ecommerce servers will be limited in size to 20% of the total disk space allotted for that particular domain's plan/web hosting account.</p>
    <br>
    <p><strong>4.13.</strong></p>
    <p>IMAP email accounts may not be used for the storage of files other than in the course of normal e-mail usage.</p>
    <br>
    <p><strong>5 OWNERSHIP OF INTELLECTUAL PROPERTY; CONFIDENTIALITY</strong></p>
    <br>
    <p><strong>5.1</strong>.</p>
    <p>During the course of this Agreement you may gain access to certain confidential, proprietary and trade secret business or technical information belonging to 5Nine in connection with 5Nine's performance of the 5Nine Services (&quot;Confidential Information&quot;). You agree to preserve the confidentiality of all Confidential Information that is provided in connection with the Agreement, and shall not, without the prior written consent of 5Nine, disclose or make available to any person, or use for your own or any other person's benefit, other than as necessary in performance of your obligations under this Agreement, any Confidential Information of 5Nine. 5Nine retains all right and title to such Confidential Information.</p>
    <br>
    <p><strong>5.2.</strong></p>
    <p>5Nine is a service mark of 5Nine Solutions LLC. All rights reserved. The trademarks, logos, and service marks displayed on this Web Site (collectively, the &quot;Marks&quot;) belong 5Nine and/or its affiliates or third parties which have licensed those rights to 5Nine (&quot;Partners&quot;); 5Nine and Partners retain all rights to the Marks and nothing in this Agreement grants you or anyone else any right whatsoever to the use of the Marks. You may not use, reproduce, or display any Marks without their owner's prior written consent. All other trademarks, product names, and company names and logos appearing on 5Nine's Web Site are the property of their respective owners.</p>
    <br>
    <p><strong>5.3</strong>.</p>
    <p>Unless expressly stated otherwise on the 5Nine Web Site, you should assume that all content, images, and materials appearing on this Web Site (collectively the &quot;5Nine Solutions Content&quot;) are the sole property of 5Nine. Both U.S. and international copyright laws and treaties protect such 5Nine Content. You may not use, reproduce, display, or sell any 5Nine Content without 5Nine's prior written consent. You may not link to any page within 5Nine's Web Site or frame any portion of the site without 5Nine's prior written consent.</p>
    <br>
    <p><strong>6 TERM AND TERMINATION</strong></p>
    <br>
    <p><strong>6.1.</strong></p>
    <p>Unless sooner terminated pursuant to other terms of this Agreement, and except as otherwise provided in this Agreement, this Agreement shall be for an initial term of one month and shall be automatically renewed each month for additional one month periods unless and until sooner terminated pursuant to the provisions of this Section 14. 5Nine may accept prepayment for services to be provided under this Agreement, but such acceptance shall not modify or extend the term of this Agreement.</p>
    <br>
    <p><strong>6.2.</strong></p>
    <p>Notwithstanding the provisions of Paragraph 7.1. to the contrary, 5Nine offers certain Hosting Packages for which the initial term of this Agreement shall be in excess of one month (the &quot;Extended Term Packages&quot;), at the end of which this Agreement shall renew automatically on a month-to-month basis pursuant to the terms of Section 7.1. Any and all service fees for the Extended Term Packages are due and payable for the entire initial term thereof, and should you terminate, attempt to terminate, or otherwise default on this Agreement prior to the end of the initial term you authorize 5Nine to charge the Payment Account for all such fees and charges for the remainder of such initial term. For the purposes of this Section, any modification of the server package shall be deemed a termination and shall entitle 5Nine to the fees owing on the Extended Term Package. Fees paid for the Extended Term Packages are not refundable unless this Agreement is terminated by 5Nine without cause pursuant to Section 7.3. or as otherwise agreed to in writing by 5Nine in its sole discretion.</p>
    <br>
    <p><strong>6.3.</strong></p>
    <p>You or 5Nine may terminate this Agreement at any time for any reason, with or without cause, upon thirty days' written notice. 5Nine may suspend performance under or terminate this Agreement and cease transmission of data associated with Your Web Site immediately and without notice:</p>
    <br>
    <p><strong>6.3.1.</strong></p>
    <p>if 5Nine, in its sole discretion, deems that you have breached any part of this Agreement, including, without limitation, any warranty or obligation set forth in Section 7,</p>
    <br>
    <p><strong>6.3.2.</strong></p>
    <p>if your Payment Account provider refuses payment of fees or charges or you refuse authorization for same, or</p>
    <br>
    <p><strong>6.3.3.</strong></p>
    <p>if payment for the 5Nine Services is more than fifteen days overdue.</p>
    <br>
    <p><strong>6.4.</strong></p>
    <p>You further agree that in the event that 5Nine believes, in its sole discretion, that you have breached any provision(s) of Section 7 of this Agreement, or any of its subparts, by storing or allowing material such as that described in the aforementioned Section 7, or any of its subparagraphs, to be transmitted by 5Nine's Equipment, that 5Nine may without any liability to you, and inaddition to any other remedies, erase or purge such materials from 5Nine's Equipment without prior notice to you.</p>
    <br>
    <p><strong>6.5.</strong></p>
    <p>After termination, you will no longer have access to your account and Your Data, including but not limited to e-mails, log files, databases, or other data files associated with your account may be deleted. 5Nine accepts no liability for such deleted information or content.</p>
    <br>
    <p><strong>7 INFORMATION USAGE AND COMMUNICATIONS</strong></p>
    <br>
    <p><strong>7.1.</strong></p>
    <p>You hereby consent and agree that as to any information which 5Nine may collect from you and/or maintain with respect to you, including but not limited to your account information, dates of service, billing address, billing records, usage statistics, site statistics, services purchased, domain name purchases, correspondence to or from 5Nine concerning you or your account, or other information which in 5Nine sole judgment is reasonable, 5Nine may disclose such information to public or private third parties as applicable law may require or permit. The decision as to whether to disclose such information as may be required, permitted or otherwise reasonable shall be within the sole discretion of 5Nine and may include but shall not be limited to (1) compliance with court order, subpoena or other request of any State or Federal government, (2) compliance with the Electronic Communications Decency Act, (3) compliance with the Digital Millennium Copyright Act (3) compliance with the 5Nine Terms of Service or other policies.</p>
    <br>
    <p><strong>7.2.</strong></p>
    <p>During and after the term of this agreement you agree to receive periodic emails, telephone calls, or SMS message containing commercial offers from 5Nine and certain approved marketing partners in regards to 5Nine or such partner products, services. We may also contact you concerning your account, system conditions, changes, updates or and schedules.</p>
    <br>
    <p><strong>7.3.</strong></p>
    <p>You agree to provide and at all times during the term of this agreement maintain true and accurate account information on file with 5Nine specifically including your Name, Address, Email address, telephone number billing information and any other account information requested at any time during the sign up process. You further agree that the failure to provide or maintain such accurate information is a material breach of this agreement and subjects your account to suspension and/or termination as set forth in paragraph eight (8) herein.</p>
    <br>
    <p><strong>7.4.</strong></p>
    <p>It is 5Nine's policy to respect your privacy. 5Nine will not monitor, edit, or disclose any personal information about you or your account, including its contents, without your prior consent unless 5Nine deems it necessary, in its sole discretion, to:</p>
    <br>
    <p><strong>7.5.</strong></p>
    <p>comply with legal process or other legal requirements, including but not limited to responding to civil or criminal subpoenas, search warrants, national security letters, or other requests for information from law enforcement officials;</p>
    <br>
    <p><strong>7.6.</strong></p>
    <p>protect and defend the rights or property of 5Nine or its officers, agents, affiliates, and licensees;</p>
    <br>
    <p><strong>7.7.</strong></p>
    <p>enforce this Agreement; or</p>
    <br>
    <p><strong>7.8.</strong></p>
    <p>protect the interests of other 5Nine customers.</p>
    <br>
    <p><strong>7.9.</strong></p>
    <p>NOTWITHSTANDING THE PROVISIONS OF THIS AGREEMENT TO THE CONTRARY, 5NINE RESERVES THE RIGHT (SUBJECT TO APPLICABLE LOCAL LAW), IN ITS SOLE DISCRETION, TO MONITOR YOUR ACCOUNT, INCLUDING BUT NOT LIMITED TO THE USE OF A USER'S MAIN ACCOUNT AND ANY SUB-ACCOUNTS, FOR THE PURPOSE OF INVESTIGATING VIOLATIONS OF THIS AGREEMENT OR TO ASSIST WITH CRIMINAL OR CIVIL INVESTIGATIONS.</p>
    <br>
    <p><strong>7.10.</strong></p>
    <p>Your IP address is transmitted and recorded with each message you send using the 5Nine Services. 5Nine does provide certain information in aggregate form collected from and relating to you to third persons such as advertisers. For a more detailed description of the types and uses of personal information collected from you, please read the 5Nine Privacy Policy.</p>
    <br>
    <p><strong>7.11.</strong></p>
    <p>INTERNATIONAL CUSTOMERS UNDERSTAND AND AGREE THAT THE 5NINE SERVICES ARE PROVIDED BY 5NINE SOLUTIONS LLC IN THE UNITED STATES OF AMERICA. THE PERSONAL INFORMATION WHICH YOU GIVE 5NINE WILL BE TRANSFERRED TO AND MAINTAINED IN THE UNITED STATES AND ELSEWHERE. IF YOU DO NOT CONSENT TO THIS TRANSFER, DO NOT ACCEPT THE TERMS AND CONDITIONS FOR THE 5Nine SERVICE. INTERNATIONAL CUSTOMERS FURTHER UNDERSTAND AND AGREE THAT 5NINE MAY DISCLOSE PERSONAL INFORMATION ABOUT THEM AND THEIR WEBSITE OR DOMAIN NAMES PURSUANT TO THIS SECTION, AND WAIVE ANY RIGHTS TO PRIVACY OR PROTECTION OF PERSONAL DATA RELATING TO SUCH INFORMATION TO THE FULLEST EXTENT PERMITTED UNDER NATIONAL AND INTERNATIONAL LAW.</p>
    <br>
    <br>
    <p><strong>8. NOTICE</strong></p>
    <br>
    <p><strong>8.1</strong></p>
    <p>Any notice under this agreement shall be given by 5Nine Solutions to you via email at the address provided by you to 5Nine Solutions at the commencement of this agreement or as 5Nine Solutions is subsequently advised. Notice to you at this address is deemed sufficient regardless of your receipt of such email. If you wish to update your email address you should do so by contacting customer service via the 5Nine Solutions website located at http://www.5ninesolutions.com/contact/.</p>
    <br>
    <p><strong>8.2</strong></p>
    <p>Any notice by you to 5Nine Solutions shall be made by telephone to a customer service representative at 888-271-7959 during 5Nine&rsquo;s regular business hours of 8:00 a.m. to 5:00 p.m. Pacific Standard Time and is effective only upon receipt by 5Nine Solutions of any such notice. Such notice may also be sent via United States Mail to the following Address:</p>
5Nine Solutions LLC<br>
7111 Garden Grove Blvd, Suite 201<br>
Garden Grove, CA 92841<br>
    <br>
    <p><strong>9 WARRANTEES AND LIMITATIONS</strong></p>
    <br>
    <p><strong>9.1.</strong></p>
    <p>5Nine Solutions makes every reasonable effort to maintain operation of the 5Nine Solutions service however because as many events and circumstances are beyond the control of 5Nine Solutions, 5Nine Solutions does not in any way warrant or otherwise guarantee the availability of the 5Nine Solutions system or servers and is not responsible for any delay or loss of data, lack of connection, slow connection, or any other such issues whether due to the active or passive negligence of 5Nine Solutions.</p>
    <br>
    <p><strong>9.2.</strong></p>
    <p>THE 5NINE SOLUTIONS SERVICE IS PROVIDED TO YOU ON AN &quot;AS IS&quot; BASIS, AND WITHOUT ANY WARRANTY OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT WITHOUT LIMITATION, ANY IMPLIED WARRANTY OF MERCHANTABILITY, OR FITNESS FOR A PARTICULAR PURPOSE.</p>
    <br>
    <p><strong>9.3.</strong></p>
    <p>In general, 5Nine Solutions has no control over information contained on the Internet. Information obtained by you from the Internet may be inaccurate, offensive or in some cases even illegal. 5Nine Solutions accepts no responsibility for any information which you receive from the Internet. You accept full responsibility to verify the truth and accuracy, legality and ownership of the information that you obtain from the Internet as well as the reputation of the individuals with whom you may deal. 5Nine Solutions provides no warrantee for any goods or services which you obtain over the Internet nor the compatibility of any such services with the 5Nine Solutions system.</p>
    <br>
    <p><strong>9.4.</strong></p>
    <p>You specifically hereby waive any claim for damages of any kind whether direct, indirect, special, exemplary, punitive, incidental or consequential, loss of profits or loss of business as the result of any action taken in response to any claim of copyright infringement without regard to whether or not the material claimed to have been infringing is later found to be infringing.</p>
    <br>
    <p><strong>9.5.</strong></p>
    <p>THE TOTAL SOLE AND EXCLUSIVE REMEDY AVAILABLE TO YOU AS THE RESULT OF ANY BREACH OF THIS AGREEMENT, NEGLIGENCE, OR ANY ACTION OR FAILURE TO ACT WHETHER INTENTIONAL OR OTHERWISE SHALL BE THE TOTAL AMOUNT OF SERVICE FEES PAID BY YOU TO 5NINE SOLUTIONS IN THE THREE MONTHS IMMEDIATELY PROCEEDING ANY ALLEGATION OF ENTITLEMENT TO SUCH REMEDY. IN NO EVENT SHALL 5NINE SOLUTIONS BE LIABLE FOR ANY INDIRECT, SPECIAL, EXEMPLARY, PUNITIVE, INCIDENTAL OR CONSEQUENTIAL DAMAGES, LOSS OF PROFITS OR LOSS OF BUSINESS AS THE RESULT OF ANY SUCH ACTION OR INACTION WITHOUT REGARD TO THE LIKELIHOOD OF ANY SUCH DAMAGES.</p>
    <br>
    <p><strong>10. IDEMNITY</strong></p>
    <p>You agree that you shall fully defend and indemnify 5Nine Solutions, including its officers, directors, owners, managing agents, attorneys, shareholders, related entities, heirs, and assigns, from any and all claims, demands, actions, suits, losses, liabilities, damages, injuries, fines penalties, costs and expenses, attorneys' fees, arbitration fees, mediation fees, expert expenses, and all other consequences of every kind, directly or indirectly resulting from any and all failure(s) of you or your agent(s) to fully comply with all duties, obligations and other provisions set forth in this Agreement, including, but not limited to, your warranties set forth in Section 7 or your violation of a third party's intellectual property rights. You further agree to defend, indemnify and hold harmless 5Nine Solutions, including its officers, directors, owners, managing agents, attorneys, shareholders, related entities, heirs, and assigns, from and against any and all claims, demands, actions, suits, loses, liabilities, damages, injuries, fines, penalties, costs and expenses, including, without limitation, reasonable attorneys' fees, arising out of any property damage or recoverable economic loss incurred by a third party, to the extent such damage or loss is caused by any act or omission of you or your agents in connection with the performance of this Agreement. You agree that 5Nine Solutions shall have the right to participate in the defense of any such claim through counsel of its own choosing at your expense.</p>
    <br>
    <br>
    <p><strong>11. FORCE MAJURE</strong></p>
    <br>
    <p><strong>11.1.</strong></p>
    <p>In the event of &quot;force majeure&quot; (as defined below), 5Nine may terminate this Agreement without liability to you. For purposes of the Agreement, &quot;force majeure&quot; shall mean circumstances or occurrences beyond 5Nine's reasonable control, whether or not foreseeable at the time of entering into the Agreement, in consequence of which 5Nine cannot reasonably be required to perform its obligations hereunder or otherwise perform its obligations under the Agreement. Such circumstances or occurrences include, but are not limited to: acts of God, war, civil war, insurrection, fires, floods, labor disputes, epidemics, governmental regulations and/or similar acts, embargoes, termination or temporary unavailability of any computer hardware or software, server, or network on which the 5Nine Services are located or maintained or through which the 5Nine Services are provided, and nonavailability of any permits, licenses and/or authorizations required by governmental authority.</p>
    <br>
    <p><strong>11.2.</strong></p>
    <p>5Nine reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the 5Nine Services (or any part thereof) with or without notice. You agree that 5Nine shall not be liable to you or to any third party for any modification, suspension or discontinuance of the 5Nine Services.</p>
    <br>
    <br>
    <br>
    <p><strong>12. U.S. EXPORT CONTROLS</strong></p>
    <p>Software available in connection with the 5Nine Solutions services is subject to United States export controls. No Software may be downloaded from 5Nine Solutions or otherwise exported or re-exported in violation of U.S. export laws. Downloading or using the any downloaded Software or software component is at your sole risk.</p>
    <br>
    <br>
    <p><strong>13. ASSIGNMENT</strong></p>
    <p>Your rights under this agreement may be assigned only upon prior notice and express approval by 5Nine Solutions. 5Nine Solutions may assign it's rights hereunder to any person or entity who shall become a principal owner, or shareholder of 5Nine Solutions. Any other attempted transfer or assignment of rights hereunder shall be null and void ab initio.</p>
    <br>
    <br>
    <p><strong>14. NON-ENFORCEMENT DOES NOT CONSTITUTE WAIVER.</strong></p>
    <p>Failure of 5Nine Solutions at any time to enforce any of the specific provisions of this Agreement shall not preclude any other or further enforcement of such provision(s) or the exercise of any other right hereunder. No waiver of a breach of this Agreement shall be valid unless made in writing and signed by duly authorized representative of 5Nine Solutions.</p>
    <br>
    <p><strong>15. SEVERABILITY</strong></p>
    <p>If any term, clause or provision hereof is held invalid or unenforceable by a court of competent jurisdiction, such invalidity shall not affect the validity or operation of any other term, clause or provision and such invalid term, clause or provision shall be deemed to be severed from the Agreement.</p>
    <br>
    <p><strong>16. CHOICE OF LAW</strong></p>
    <p>This Agreement shall be interpreted under the laws of the State of California without regard to any conflict of laws provisions. Any action between the parties to this agreement for the breach of this agreement or any action or claim in any way relating thereto shall be venued in the Superior Court of the State of California, County of Los Angeles. The parties to this agreement hereby consent to jurisdiction in that court and agree to accept service by mail and hereby waive any defense of any kind related to jurisdiction or venue.</p>
    <br>
    <p><strong>17. NO AGENCY</strong></p>
    <p>Nothing in this Agreement is intended by the Parties to create or constitute an agency, joint or collaborative venture, or partnership of any kind between 5Nine Solutions and you, nor shall anything in this Agreement be construed as constituting or creating any such agency, joint or collaborative venture, or partnership between 5Nine Solutions and you. 5Nine Solutions shall have no control or ownership interests of any kind in your business. 5Nine Solutions shall have no direct financial or other interest in, nor in any way &quot;own&quot; any online &quot;store&quot; or other online venture pertaining to your use of the 5Nine Services or 5Nines's Equipment. 5Nines's relationship to you shall be restricted to matters pertaining to the provision of the 5Nine Services as set forth in this agreement.</p>
    <br>
    <p><strong>18. AMENDMENT</strong></p>
    <br>
    <p><strong>18.1.</strong></p>
    <p>5Nine Solutions may without advance notice amend this Agreement from time to time, and will do so by posting the new Agreement on the 5Nine Solutions web site in place of the old. Each and every such amendment shall be become effective immediately for all pre-existing and future accounts.</p>
    <br>
    <p><strong>18.2.</strong></p>
    <p>You may not modify this Agreement, in whole or in part, and any such modification or attempt to modify shall not be enforceable unless reduced to writing and signed by a duly authorized representative of 5Nine Solutions. No additional or conflicting term in any other document used by you will have any legal effect.</p>
    <br>
    <p><strong>19. REQUIRED NOTICES</strong></p>
    <br>
    <p><strong>19.1.</strong></p>
    <p>Any notice concerning any claim of copyright infringement should be addressed to 5Nine Solutions LLC, COPYRIGHT INFRINGEMENT CLAIM, 7111 Garden Grove Blvd, Suite 201 Garden Grove, CA 92841 Telephone 888-271-7959 Facsimile 310-510-6980</p>
    <br>
    <p><strong>19.2.</strong></p>
    <p>Pursuant to the terms of The Electronic Commerce Act of 1984</p>
    <p>please be advised that as may be applicable to you under California Law if you are unsatisfied with the manner in which a complaint that you may have regarding the 5Nine Solutions service you may contact the complaint Assistance Unit of the Division of Consumer Services of the Department of Consumer Affairs in writing at 1020 N. Street, #501, Sacramento, CA 95814 or by telephone at 1-916-445-1254.</p>
{% endblock %}
