<!-- Load TinyMCE -->
<script type="text/javascript" src="{{ STATIC_URL }}js/tiny_mce/jquery.tinymce.js"></script>
<script type="text/javascript">
    $().ready(function() {
        $('textarea.tinymce').tinymce({
            // Location of TinyMCE script
            script_url : '{{ STATIC_URL }}js/tiny_mce/tiny_mce.js',

            // General options
            theme : "advanced",
            plugins : "table,save,advhr,advimage,advlink,emotions,iespell,insertdatetime,preview,searchreplace,print,contextmenu,fullscreen,media",
            plugin_insertdate_dateFormat : "%m/%d/%Y",
            plugin_insertdate_timeFormat : "%H:%M:%S",
            auto_cleanup_word : true,
            extended_valid_elements : "a[name|href|target=_blank|title|onclick],img[class|src|border=0|alt|title|hspace|vspace|width|height|align|onmouseover|onmouseout|name],hr[class|width|size|noshade],font[face|size|color|style],span[class|align|style]",

            // Theme options
            theme_advanced_buttons1 : "fullscreen,separator,preview,separator,bold,italic,underline,strikethrough,separator,bullist,numlist,outdent,indent,separator,undo,redo,separator,link,unlink,anchor,separator,cleanup,help,separator,code",
            theme_advanced_buttons2 : "",
            theme_advanced_buttons3 : "",
            theme_advanced_toolbar_location : "top",
            theme_advanced_toolbar_align : "left",
            theme_advanced_resizing : true,

            //content_css : "css/content.css",

            // Drop lists for link/image/media/template dialogs
            //template_external_list_url : "lists/template_list.js",
            //external_link_list_url : "lists/link_list.js",
            //external_image_list_url : "lists/image_list.js",
            //media_external_list_url : "lists/media_list.js",

        })
    });
</script>
<!-- /TinyMCE -->

