<html>
<head>
  <META http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <title>Fax Recieved</title>
  <meta content="text/html; charset=iso-8859-1" http-equiv="content-type"/>
</head>
  <body>
  <p><font face=arial><strong>
       You have recieved a {{ pages }} page fax at {{ received_stamp|date:"M j Y h:i:s A" }} on {{ did }}.</strong><br />
       <hr noshade size=1>
       From:            {{ remote_id }}<br />
       Caller-ID:       {{ caller_id }}<br />       <br />
       <br />
       View this fax using your PDF reader.<br />
       Thank you for choosing 5Nine Solutions!<br /><br />
       <a href="https://www.5ninesolutions.com/" target="_blank"><img src="http:/
/email-docs.5ninesolutions.com/email_signature_logo.jpg"></a>
  </font></p>
  </body>
</html>
