{% extends "base_site.html" %}
{% load cdr_formatting %}
{% block title %}Received Faxes{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/portal.css" />
{% endblock %}

{% block content_title %}Received Faxes{% endblock %}
{% block content %}
<form method="get" action="/fax/received/search/">
    <div id="fax-search" class="round">
        <ul>
            <li>
                <input type="text" name="q" placeholder="Search" />
            </li>
            <li>
                <input class="search" type="submit" value="Search" />
            </li>
        </ul>
    </div>
</form>
{% if query %}
<h1>Search results for '{{ query }}'</h1>
<table class="width-90">
    <caption>Received Faxes</caption>
    <thead>
    <tr>
        <th>Caller ID</th>
        <th>Remote ID</th>
        <th>Date</th>
        <th>Pages</th>
        <th>Receiving Number</th>
    </thead>
    <tbody>
    {% for rxfax in rxfax_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        <td><a href="{{ rxfax.get_view_url }}">{{ rxfax.caller_id|num2tel }}</a></td>
        <td>{{ rxfax.remote_id }}</td>
        <td>{{ rxfax.time_stamp }}</td>
        <td>{{ rxfax.num_pages }}</td>
        <td>{{ rxfax.did.number|num2tel }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<h1>Error, no query was specified.</h1>
{% endif %}
{% endblock %}
