{% extends "base_site.html" %}
{% block title %}Wholesale VoIP Termination Rates{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/marketing.css" />
<style>.width-280px { width: 280px; }</style>
{% endblock %}
{% block content_title %}Wholesale VoIP Termination Rates{% endblock %}
{% block content %}
<div class="secondary-left">
  <h2>Rates</h2>
  <div id="sidenav" class="round">
    <ul>
      <li><a href="/rates/termination/">Termination</a></li>
      <li><a href="/rates/inbound/toll-free/">Inbound Toll-Free</a></li>
      <li><a href="/rates/inbound/">US Origination</a></li>
    </ul>
  </div>
</div>
<div id="kb-spacer"></div>
<div class="primary-right">
  <h1>The highest quality routes available.</h1>
  <p>We use a blend of top-tier carriers and our own PSTN
  gateways to deliver the best VoIP network possible. Simply the best routes
  for a fair price. When it has to work, depend on 5Nine Solutions.</p>
  <h2>Rate Lookup</h2>
  <form method="get" action="/rates/termination/">
  <div id="kb-search" class="round width-280px">
    <ul>
      <li><input type="text" name="q" placeholder="Phone Number" /></li>
      <li><input class="search" type="submit" value="Search" /></li>
    </ul>
  </div>
  </form>
  <ul id="rate-selector">
    {% for dest in destination_list %}
    {% if dest.selected %}
    <li><a href="#" class="selected round">{{ dest.value }}</a></li>
    {% else %}
    <li><a href="/rates/termination/{{ dest.value }}/">{{ dest.value }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>

  <table class="width-100">
    <thead>
    <caption>Termination Rates</caption>
    <tr>
      <th>Destination</th>
      <th>Prefix</th>
      <th>1st/sub Interval</th>
      <th>Rate</th>
    </tr>
    </thead>
    <tbody>
    {% for rate in termination_rate_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
      <td>{{ rate.description }}</td>
      <td>{{ rate.prefix }}</td>
      <td>{{ rate.first_interval }}/{{ rate.sub_interval }} sec</td>
      <td>${{ rate.rate }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% include 'pagination_snippet.html' %}
</div>
{% endblock %}
{% block pagination %}{% endblock %}
