{% extends "base_site.html" %}
{% block title %}Toll-Free Inbound Rates{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/marketing.css" />
{% endblock %}
{% block content_title %}Toll-free Inbound  Rates{% endblock %}
{% block content %}
<div class="secondary-left">
  <h2>Rates</h2>
  <div id="sidenav" class="round">
    <ul>
      <li><a href="/rates/termination/">Termination</a></li>
      <li><a href="/rates/inbound/toll-free/">Inbound Toll-Free</a></li>
      <li><a href="/rates/inbound/">US Origination</a></li>
    </ul>
  </div>
</div>
<div id="kb-spacer"></div>
<div class="primary-right">
  <h1>Inbound Toll-free Rates</h1>
  <p>Billing is based on the originating location of the caller, which
  is looked up using a longest-prefix match of the caller's number 
  against the prefix column in the table below.</p>
  <table class="width-100">
    <thead>
    <caption>Toll-free Rates</caption>
    <tr>
      <th>Originating Location</th>
      <th>Prefix</th>
      <th>1st/sub Interval</th>
      <th>Rate</th>
    </tr>
    </thead>
    <tbody>
    {% for rate in tollfree_rate_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
      <td>{{ rate.description }}</td>
      <td>{{ rate.prefix }}</td>
      <td>{{ rate.first_interval }}/{{ rate.sub_interval }} sec</td>
      <td>${{ rate.rate }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
